@import '../main';
@import '../navbar';
@import '../footer';
@import '../favorites';
@import '../basket';
@import '../productOffers';
@import '../productCart';


.productCart {
    width: 100%;
    max-width: 1610px;
    margin: 0 auto;
    padding: 240px 15px 70px;
    display: flex;
    gap: 160px;
    position: relative;

    @media (max-width: 1580px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 240px 80px 0px;
        grid-gap: 20px;
    }

    @media (max-width: 980px) {
        padding: 170px 25px 95px;
        grid-template-columns: 1fr;
        grid-gap: 80px;
    }

    @media (max-width: 580px) {
        padding: 80px 10px 60px;
    }

    &__decor {
        position: absolute;
        right: -25px;
        top: 95px;

        @media (max-width: 1580px) {
            right: 10px;
        }

        @media (max-width: 980px) {
            top: 120px;
        }

        @media (max-width: 580px) {
            display: none;
        }
    }

    #productMedia {
        max-width: 520px;
        margin: 0 auto;
        margin-top: 30px;

        @media (max-width: 580px) {
            max-width: 255px;
        }

        .swiper-slide {
            border-radius: 12px;
            border: 1px solid #fff;
            transition: .3s;
            overflow: hidden;

            &:hover {
                transition: .3s;
                border: 1px solid #080807;
            }
        }
    }

    .swiper-slide-thumb-active {
        border: 1px solid #080807 !important;
        transition: .3s;
    }

    &__media {
        position: relative;
        width: 100%;
        max-width: 690px;

        @media (max-width: 580px) {
            max-width: 320px;
            margin: 0 10px;
        }

        &_btn {
            position: absolute;
            bottom: 30px;
            width: 44px;
            height: 44px;

            @media (max-width: 580px) {
                bottom: 15px;
                width: 40px;
            }

            &.next {
                right: 0;

                @media (max-width: 580px) {
                    right: -10px;
                }
            }

            &.prev {
                left: 0;

                @media (max-width: 580px) {
                    left: -10px;
                }
            }

            &_icon {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                width: 100%;
                height: 100%;
                object-fit: contain;
                visibility: visible;
                opacity: 1;
                transition: .2s;

                &.hover {
                    visibility: hidden;
                    opacity: 0;
                    transition: .2s;
                }
            }

            &:hover &_icon {
                visibility: hidden;
                opacity: 0;
                transition: .2s;
            }

            &:hover &_icon.hover {
                visibility: visible;
                opacity: 1;
                transition: .2s;
            }
        }

        &_el {
            position: relative;
            width: 690px;
            height: 570px;
            overflow: hidden;

            @media (max-width: 580px) {
                width: 100%;
                height: 440px;
            }

            &_decor {
                position: absolute;
                top: 30px;
                left: 200px;

                @media (max-width: 580px) {
                    left: 60px;
                }
            }

            &_playBtn {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;

                &_icon {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            &_img,
            &_video {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: contain;
                transition: .3s;

                &:hover {
                    transform: scale(1.1);
                    transition: .3s;
                }
            }
        }

        &_elSmall {
            width: 100px;
            height: 100px;
            cursor: pointer;

            @media (max-width: 580px) {
                width: 60px;
                height: 60px;
            }

            &_img,
            &_video {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &__details {

        &_header {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            gap: 24px;

            &_title {
                font-family: "Montserrat", sans-serif;
                font-size: 40px;
                font-weight: 700;
                line-height: 40px;

                @media (max-width: 580px) {
                    max-width: 280px;
                    font-size: 32px;
                }
            }

            &_addWishlist {
                position: relative;
                width: 40px;
                height: 40px;

                &_icon {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 1;
                    visibility: visible;
                    transition: .2s;

                    &.hover {
                        visibility: hidden;
                        opacity: 0;
                        transition: .2s;
                    }
                }

                &.active &_icon {
                    visibility: hidden;
                    opacity: 0;
                    transition: .2s;
                }

                &.active &_icon.hover {
                    opacity: 1;
                    visibility: visible;
                    transition: .2s;
                }
            }
        }

        &_subtitle,
        &_pr {
            font-family: "Inter", sans-serif;
            font-size: 18px;
            font-weight: 700;
            line-height: 24px;
        }

        &_subtitle {
            margin-bottom: 5px;
        }

        &_pr {
            font-weight: 500;
        }

        &_info {
            margin: 8px 0;
            font-family: "Inter", sans-serif;
            font-size: 13px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: -0.03em;
            color: #9CC046;
        }

        &_volume {
            margin-bottom: 50px;
            font-family: "Montserrat", sans-serif;
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
            color: #231F20;

            @media (max-width: 580px) {
                margin-bottom: 32px;
            }
        }

        &_sizes {
            display: flex;
            gap: 8px;

            @media (max-width: 580px) {
                flex-wrap: wrap;
            }

            &_btn {
                padding: 5px 20px;
                font-family: "Montserrat", sans-serif;
                font-size: 12px;
                font-weight: 400;
                line-height: 22px;
                letter-spacing: 0.16px;
                text-align: center;
                border-radius: 25px;
                border: 1px solid #231F20;
                transition: .3s;

                &.active,
                &:hover,
                &:active {
                    background: #231F20;
                    transition: .3s;
                    color: #FFFFFF;
                }

                &.gradient {
                    position: relative;
                    background: #fff;
                    border: none;
                    transition: .3s;

                    &.active,
                    &:hover {
                        transition: .3s;
                        background: linear-gradient(119.65deg, #E8E94F 14.87%, #EDB24C 31.42%, #EA353B 65.41%, #C62A88 88.75%);
                    }

                    &::before {
                        content: '';
                        display: block;
                        width: calc(100% + 2px);
                        height: calc(100% + 2px);
                        border-radius: 30px;
                        background: linear-gradient(119.65deg, #E8E94F 14.87%, #EDB24C 31.42%, #EA353B 65.41%, #C62A88 88.75%);
                        position: absolute;
                        top: -1px;
                        left: -1px;
                        z-index: -1;
                    }
                }
            }
        }

        &_price {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            max-width: 680px;
            margin: 50px 0 30px;
            padding-bottom: 30px;
            border-bottom: 1px solid #080807;

            @media (max-width: 580px) {
                align-items: flex-start;
                gap: 24px;
                flex-direction: column;
                margin: 40px 0 0;
                border: none;
            }

            &_quant {
                display: flex;
                align-items: flex-end;
                position: relative;
                gap: 10px;

                &_num {
                    font-family: "Inter", sans-serif;
                    font-size: 40px;
                    font-weight: 400;
                    line-height: 40px;
                    letter-spacing: -0.04em;

                    @media (max-width: 580px) {
                        font-size: 32px;
                        line-height: 32px;
                    }
                }

                &_txt {
                    @media (max-width: 580px) {
                        font-size: 16px;
                        line-height: 19px;
                    }
                }

                &_currency {
                    font-family: "Inter", sans-serif;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 21.78px;
                    letter-spacing: 0.4px;
                }

                &_forOnePice {
                    position: absolute;
                    left: 12px;
                    top: 18px;
                    width: 40px;
                    font-family: "Inter", sans-serif;
                    font-size: 13px;
                    font-weight: 800;
                    line-height: 16px;
                    letter-spacing: 0.4px;
                    text-align: center;
                    color: #fff;
                }
            }

            &_btns {
                display: flex;
                align-items: center;
                gap: 5px;

                &_productSumm {
                    display: block;

                    * {
                        display: block;
                        letter-spacing: 0.5px;
                        font-weight: 400;
                        font-family: "Inter", sans-serif;
                        text-align: center;
                    }

                    &_num {
                        font-size: 22px;
                        line-height: 24px;
                    }

                    &_txt {
                        font-size: 12px;
                        line-height: 14.52px;
                    }
                }

                &_btn {
                    border-radius: 46% 54% 46% 54% / 48% 52% 48% 52%;
                    background: #fff;
                    transition: .3s;

                    &:hover {
                        background: #AFAFAF;
                        transition: .3s;
                    }

                    &:active {
                        background: #fff;
                        transition: .3s;
                    }
                }
            }

            &_total {
                display: flex;
                align-items: flex-end;
                gap: 8px;

                @media (max-width: 580px) {
                    border-top: 1px solid #080807;
                    width: 100%;
                    padding-top: 24px;
                }

                &_regular {
                    position: relative;

                    &::before {
                        content: '';
                        display: block;
                        width: 95%;
                        height: 1px;
                        background: #828282;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%) rotateZ(6deg);
                    }

                    * {
                        font-family: "Inter", sans-serif;
                        font-weight: 600;
                        color: #828282;
                    }

                    &_num {
                        font-size: 26px;
                        line-height: 31.47px;
                    }

                    &_currency {
                        font-size: 12.64px;
                        line-height: 15.3px;
                    }
                }

                &_real {
                    display: flex;
                    align-items: flex-end;
                    gap: 8px;

                    * {
                        font-family: "Inter", sans-serif;
                        color: #080807;
                    }

                    &_num {
                        font-size: 40px;
                        font-weight: 700;
                        line-height: 40px;
                        letter-spacing: -0.04em;
                    }

                    &_txt {
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 21.78px;
                        letter-spacing: 0.4px;
                    }
                }
            }
        }

        &_delivery {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 46px;

            @media (max-width: 580px) {
                flex-direction: column-reverse;
                gap: 30px;
            }

            &_wrapper {
                display: flex;
                gap: 8px;
            }

            &_img {
                width: 28px;
                height: 28px;
            }

            &_pr {
                font-family: "Montserrat", sans-serif;
                font-size: 12px;
                font-weight: 400;
                line-height: 18px;
            }
        }

        &_addBasket {
            display: block;
            padding: 5px;
            text-align: center;
            width: 100%;
            max-width: 210px;
            background: #F0C45E;
            color: #fff;
            font-family: "Montserrat", sans-serif;
            font-size: 20px;
            font-weight: 700;
            line-height: 40px;
            letter-spacing: -0.01em;
            text-align: center;
            position: relative;
            border-radius: 28px;

            @media (max-width: 580px) {
                max-width: 100%;
            }

            &::before {
                content: '';
                display: block;
                width: calc(100% - 2px);
                height: calc(100% - 2px);
                border-radius: 28px;
                border: 1px solid #000;
                position: absolute;
                top: -4px;
                left: -5px;
                transition: .2s;
            }

            &:active::before {
                transition: .2s;
                top: 0;
                left: 0;
            }

            &:hover {
                background: #FACE68;
                transition: .2s;
            }

            &:active {
                transition: .2s;
                background: #DCB04A;
            }
        }

        &_stores {

            &_wrapper {
                display: flex;
                gap: 8px;
                overflow-x: auto;
                max-width: 680px;
                padding: 15px 0 25px;

                @media (max-width: 580px) {
                    max-width: 340px;
                }

                &::-webkit-scrollbar {
                    height: 2px;
                    background: #E0E0E0;
                    border-radius: 5px;
                }

                &::-webkit-scrollbar-thumb {
                    height: 2px;
                    background: #000;
                    border-radius: 5px;
                }
            }

            &_el {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                min-width: 140px;
                height: 46px;

                &_logo {
                    margin: 0 auto;
                    max-width: 100%;
                    object-fit: contain;
                }

                &_icon {
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
        }
    }
}


.advantagesSm {
    width: 100%;
    padding: 67px 0 77px;

    @media (max-width: 980px) {
        padding: 75px 0 60px;
        background: #f7f5f5;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        max-width: 1720px;
        margin: 0 auto;
        padding: 0 15px;

        @media (max-width: 980px) {
            gap: 60px;
            padding: 0 25px;
            overflow-x: auto;
            padding-bottom: 40px;

            &::-webkit-scrollbar {
                background: #f0f0f0;
                height: 2px;
            }

            &::-webkit-scrollbar-thumb {
                background: #000;
                height: 2px;
            }
        }
    }

    &__el {

        @media (max-width: 980px) {
            min-width: fit-content;
        }

        &_img {
            width: 70px;
            height: 70px;
            object-fit: contain;
            margin: 0 auto 18px;
        }

        &_title {
            font-family: "Montserrat", sans-serif;
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            text-align: center;
        }
    }
}



.aboutProduct {
    background: #6337370D;

    &__wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 740px;
        min-height: fit-content;

        @media (max-width: 980px) {
            display: flex;
            height: auto;
            flex-direction: column-reverse;
        }
    }

    &__pic {
        overflow: hidden;
        height: 100%;

        @media (max-width: 580px) {
            height: 345px;
        }

        &_img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: .3s;

            &:hover {
                transition: .3s;
                transform: scale(1.1);
            }
        }
    }

    &__desc {
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 100%;
        max-width: 795px;
        margin-left: auto;
        padding: 80px 0 80px 15px;
        position: relative;

        @media (max-width: 1580px) {
            padding-left: 115px;
        }

        @media (max-width: 980px) {
            padding: 90px 105px;
        }

        @media (max-width: 580px) {
            padding: 90px 30px;
        }

        &_decor {
            position: absolute;
            top: 37px;
            right: 32px;
        }

        &_title {
            font-family: "Inter", sans-serif;
            font-size: 40px;
            font-weight: 600;
            line-height: 40px;
            letter-spacing: -0.02em;
            margin-bottom: 16px;
            max-width: 80%;
        }

        &_info {
            margin-top: 30px;

            &_title {
                font-family: "Inter", sans-serif;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: -0.02em;
                margin-bottom: 10px;
            }

            &_list {
                display: grid;
                margin-left: 30px;
                list-style-type: disc;

                &_el {
                    font-family: "Inter", sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: -0.02em;
                }
            }
        }

        &_list {
            width: 100%;
            max-width: 540px;

            &_el {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 8px 0;
                gap: 20px;
                border-bottom: 1px solid #080807;

                * {
                    font-family: "Inter", sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: -0.02em;
                }

                &_value {
                    text-align: right;
                }
            }
        }
    }
}


.productOffers {

    &__wrapper {
        display: block;
        
        @media (max-width: 980px) {
            padding: 80px 50px 65px;
            overflow-x: auto;
            align-items: flex-start;
            justify-content: flex-start;


            &::-webkit-scrollbar {
                background: #f7f5f5;
                height: 2px;
            }

            &::-webkit-scrollbar-thumb {
                background: #000;
                height: 2px;
                grid-gap: 20px;
            }
        }

        @media (max-width: 580px) {
            padding: 80px 20px 50px;
        }
    }

    .wrapper {
        padding: 0;

        @media (max-width: 980px) {
            display: flex;
            flex-wrap: nowrap;
            grid-gap: 30px;
            max-width: 100%;
            min-width: fit-content;
            padding: 0;
        }
    }

    .product {

        @media (max-width: 980px) {
            width: 320px;
        }
    }

    &__link {

        @media (max-width: 980px) {
            margin-top: 50px;
        }
    }
}