@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap");
#adaptive {
  min-width: 1920px;
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
}
@media (max-width: 1580px) {
  #adaptive {
    min-width: 1550px;
    max-width: 1550px;
  }
}
@media (max-width: 980px) {
  #adaptive {
    min-width: 768px;
    max-width: 768px;
  }
}
@media (max-width: 520px) {
  #adaptive {
    max-width: 360px;
    min-width: 360px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  color: #080807;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

ul,
ol {
  list-style: none;
}

button,
select,
input,
textarea {
  display: block;
  border: none;
  outline: none;
  background: none;
}

button,
select {
  cursor: pointer;
}

textarea {
  resize: none;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.btn-a {
  display: block;
  position: relative;
  border-radius: 30px;
  padding: 0 45px;
  text-align: center;
  color: #fff;
  background: #F0C45E;
  transition: 0.2s;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.01em;
}
.btn-a::before {
  content: "";
  display: block;
  border-radius: 30px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border: 1px solid #080807;
  position: absolute;
  top: -2px;
  left: -2px;
  transition: 0.2s;
}
.btn-a:hover {
  background: #FACE68;
  transition: 0.2s;
}
.btn-a:active::before {
  top: 0;
  left: 0;
  transition: 0.2s;
}
.btn-a:active {
  background: #DCB04A;
  transition: 0.2s;
}

.navbar {
  width: 100%;
  background: rgba(255, 255, 255, 0.1450980392);
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px 1px 4px 0px rgba(12, 12, 13, 0.1019607843);
  z-index: 1090;
  -webkit-backdrop-filter: blur(54px);
          backdrop-filter: blur(54px);
}
.navbar__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 34px 40px;
  width: 100%;
  transition: 0.3s;
}
@media (max-width: 980px) {
  .navbar__wrapper {
    padding: 40px;
  }
  .navbar__wrapper.active {
    padding: 8px 40px;
    transition: 0.3s;
  }
}
@media (max-width: 580px) {
  .navbar__wrapper {
    padding: 10px 20px;
  }
}
.navbar__wrapper.active {
  padding: 8px 40px;
  transition: 0.3s;
}
.navbar__lhand {
  display: flex;
  align-items: center;
  gap: 30px;
}
.navbar__logo {
  display: block;
  width: 220px;
  font-size: 0px;
  color: transparent;
  line-height: 0;
  margin-top: 8px;
}
@media (max-width: 580px) {
  .navbar__logo {
    width: 110px;
  }
}
.navbar__logo_img {
  width: 100%;
  height: 100%;
}
@media (max-width: 980px) {
  .navbar__logo_img {
    display: none;
  }
}
.navbar__logo_img.tablet {
  display: none;
}
@media (max-width: 980px) {
  .navbar__logo_img.tablet {
    display: block;
  }
}
@media (max-width: 580px) {
  .navbar__logo_img.tablet {
    display: none;
  }
}
.navbar__logo_img.mobile {
  display: none;
}
@media (max-width: 580px) {
  .navbar__logo_img.mobile {
    display: block;
  }
}
.navbar__rhand {
  display: flex;
  align-items: center;
}
@media (max-width: 980px) {
  .navbar__rhand {
    margin-left: auto;
  }
}
.navbar__title {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.01em;
}
@media (max-width: 580px) {
  .navbar__title {
    display: none;
  }
}
.navbar__menu {
  display: flex;
  gap: 28px;
  margin-right: 70px;
}
@media (max-width: 980px) {
  .navbar__menu {
    display: none;
  }
}
.navbar__menu_link {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.01em;
  transition: 0.2s;
  border-radius: 16px;
  display: block;
  padding: 0 8px;
}
.navbar__menu_link:hover {
  transition: 0.2s;
  color: #fff;
  background: rgba(35, 31, 32, 0.5019607843);
}
.navbar__account, .navbar__wishlist, .navbar__basket {
  display: block;
  margin-right: 6px;
  position: relative;
  width: 40px;
  height: 40px;
}
@media (max-width: 980px) {
  .navbar__account, .navbar__wishlist, .navbar__basket {
    margin-right: 10px;
  }
}
.navbar__account_q, .navbar__wishlist_q, .navbar__basket_q {
  display: none;
}
.navbar__account_icon, .navbar__wishlist_icon, .navbar__basket_icon {
  transition: 0.2s;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
}
.navbar__account_icon.hover, .navbar__wishlist_icon.hover, .navbar__basket_icon.hover {
  transition: 0.2s;
  opacity: 0;
}
.navbar__account:hover .navbar__account_icon, .navbar__account:hover .navbar__wishlist_icon, .navbar__account:hover .navbar__basket_icon, .navbar__wishlist:hover .navbar__account_icon, .navbar__wishlist:hover .navbar__wishlist_icon, .navbar__wishlist:hover .navbar__basket_icon, .navbar__basket:hover .navbar__account_icon, .navbar__basket:hover .navbar__wishlist_icon, .navbar__basket:hover .navbar__basket_icon {
  transition: 0.2s;
  opacity: 0;
}
.navbar__account:hover .navbar__account_icon.hover, .navbar__account:hover .navbar__wishlist_icon.hover, .navbar__account:hover .navbar__basket_icon.hover, .navbar__wishlist:hover .navbar__account_icon.hover, .navbar__wishlist:hover .navbar__wishlist_icon.hover, .navbar__wishlist:hover .navbar__basket_icon.hover, .navbar__basket:hover .navbar__account_icon.hover, .navbar__basket:hover .navbar__wishlist_icon.hover, .navbar__basket:hover .navbar__basket_icon.hover {
  opacity: 1;
  transition: 0.2s;
}
@media (max-width: 980px) {
  .navbar__account {
    display: none;
  }
}
.navbar__lang {
  position: relative;
  margin-left: 26px;
}
@media (max-width: 980px) {
  .navbar__lang {
    display: none;
  }
}
.navbar__lang_btn {
  padding: 16px;
  border-radius: 8px;
  background: #F3F3F3;
  display: flex;
  align-items: center;
  gap: 8px;
}
.navbar__lang_btn_txt {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.07em;
  text-align: center;
}
.navbar__lang_choose {
  position: absolute;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  top: 60px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}
.navbar__lang_choose_btn {
  background: #F3F3F3;
  padding: 16px;
  width: 100%;
  transition: 0.2s;
}
.navbar__lang_choose_btn:active {
  background: #F0C45E;
  transition: 0.2s;
}
.navbar__lang:hover .navbar__lang_choose {
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
}
.navbar__mobile {
  display: none;
}
.navbar__mobile_wrapper {
  display: none;
}
@media (max-width: 980px) {
  .navbar__mobile_wrapper {
    display: block;
  }
}
@media (max-width: 980px) {
  .navbar__mobile {
    display: flex;
  }
  .navbar__mobile_content {
    min-height: -moz-fit-content;
    min-height: fit-content;
    position: relative;
  }
  .navbar__mobile_closeBtn {
    position: absolute;
    top: 0px;
    right: 0px;
  }
}
@media (max-width: 980px) and (max-width: 580px) {
  .navbar__mobile_closeBtn {
    top: -25px;
    right: -25px;
  }
}
@media (max-width: 980px) {
  .navbar__mobile_wrapper {
    position: fixed;
    top: 0;
    left: 200vw;
    z-index: 1099;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.1450980392);
    -webkit-backdrop-filter: blur(54px);
            backdrop-filter: blur(54px);
    padding: 40px;
    overflow-y: auto;
    transition: 0.3s;
  }
  .navbar__mobile_wrapper.active {
    left: 0;
    transition: 0.3s;
  }
  .navbar__mobile_wrapper * {
    margin: 0 auto;
    text-align: center;
  }
  .navbar__mobile_acc {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.03em;
  }
  .navbar__mobile_logo {
    margin-bottom: 8px;
  }
  .navbar__mobile_title {
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.01em;
    margin-bottom: 60px;
  }
  .navbar__mobile_menu {
    margin-bottom: 60px;
    display: grid;
    gap: 30px;
  }
  .navbar__mobile_menu_link {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.03em;
  }
  .navbar__mobile_social_link.phone, .navbar__mobile_social_link.mail {
    display: block;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.03em;
  }
  .navbar__mobile_social_link.phone {
    font-weight: 700;
    margin-bottom: 14px;
  }
  .navbar__mobile_social_link.mail {
    margin-bottom: 24px;
  }
  .navbar__mobile_social_wrapper {
    display: flex;
    width: -moz-fit-content;
    width: fit-content;
    justify-content: center;
    gap: 25px;
  }
  .navbar__mobile_adress {
    margin: 65px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.03em;
  }
  .navbar__mobile_lang {
    display: flex;
    width: -moz-fit-content;
    width: fit-content;
    gap: 25px;
  }
  .navbar__mobile_lang_btn {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.03em;
  }
  .navbar__mobile_lang_btn.active {
    border-bottom: 1px solid #080807;
  }
}

.footer {
  width: 100%;
  background: #080807;
}
.footer * {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.footer__wrapper {
  width: 100%;
  max-width: 1790px;
  margin: 0 auto;
  padding: 80px;
}
@media (max-width: 580px) {
  .footer__wrapper {
    padding: 60px 20px;
  }
  .footer__wrapper * {
    text-align: center !important;
  }
}
.footer__title {
  font-size: 24px;
  line-height: 40px;
  letter-spacing: -0.05em;
  margin-bottom: 8px;
}
.footer__desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 980px) {
  .footer__desc {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}
.footer__desc_list {
  display: flex;
  gap: 22px;
}
@media (max-width: 980px) {
  .footer__desc_list {
    flex-wrap: wrap;
    gap: 15px 25px;
  }
}
@media (max-width: 580px) {
  .footer__desc_list {
    flex-direction: column;
    gap: 16px;
  }
}
.footer__desc_list_el {
  position: relative;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.footer__desc_list_el:not(:last-child)::before {
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  right: -11px;
  transform: translate(0, -50%);
}
@media (max-width: 580px) {
  .footer__desc_list_el:not(:last-child)::before {
    right: 50%;
    top: 135%;
  }
}
.footer__desc_social {
  display: flex;
  gap: 15px;
}
@media (max-width: 580px) {
  .footer__desc_social {
    justify-content: center;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
}
.footer__desc_social_el {
  width: 22px;
  position: relative;
}
.footer__desc_social_el_icon {
  width: 22px;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.2s;
  visibility: visible;
  opacity: 1;
}
.footer__desc_social_el_icon.hover {
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
}
.footer__desc_social_el:hover .footer__desc_social_el_icon {
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
}
.footer__desc_social_el:hover .footer__desc_social_el_icon.hover {
  visibility: visible;
  opacity: 1;
  transition: 0.2s;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding-bottom: 32px;
  border-bottom: 1px solid #828282;
}
@media (max-width: 980px) {
  .footer__content {
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
  }
}
.footer__menu {
  display: flex;
  gap: 56px;
  margin-bottom: 22px;
}
@media (max-width: 980px) {
  .footer__menu {
    gap: 30px;
  }
}
@media (max-width: 580px) {
  .footer__menu {
    flex-direction: column;
  }
}
.footer__menu_link {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.03em;
  transition: 0.2s;
}
.footer__menu_link:hover {
  color: #F0C45E;
  transition: 0.2s;
}
.footer__banking {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 580px) {
  .footer__banking {
    justify-content: center;
  }
}
.footer__banking_logo {
  width: 45px;
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 0.5;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
}
.footer__contacts_phone {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.01em;
  margin-bottom: 16px;
  transition: 0.2s;
}
.footer__contacts_phone:hover {
  color: #F0C45E;
  transition: 0.2s;
}
.footer__contacts_mail {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.03em;
  transition: 0.2s;
}
.footer__contacts_mail:hover {
  color: #F0C45E;
  transition: 0.2s;
}
.footer__subscribe {
  width: 100%;
  max-width: 290px;
}
@media (max-width: 580px) {
  .footer__subscribe {
    margin: 0 auto;
  }
}
.footer__subscribe_title {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.03em;
}
.footer__subscribe_subtitle {
  margin: 4px 0 8px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.03em;
}
.footer__subscribe_form {
  display: flex;
  gap: 2px;
  margin-bottom: 8px;
}
.footer__subscribe_form_inp {
  padding: 9px;
  width: 100%;
  max-width: 245px;
  background: #fff;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #080807;
}
.footer__subscribe_form_inp::-moz-placeholder {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #BDBDBD;
}
.footer__subscribe_form_inp::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #BDBDBD;
}
.footer__subscribe_form_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333333;
  border-radius: 4px;
  width: 42px;
  height: 42px;
}
.footer__subscribe_form_btn_icon {
  max-width: 100%;
}
.footer__subscribe_info {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.03em;
  color: #828282;
}
.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
  gap: 20px;
}
@media (max-width: 980px) {
  .footer__bottom {
    flex-wrap: wrap;
  }
}
@media (max-width: 580px) {
  .footer__bottom {
    flex-direction: column;
  }
}
.footer__bottom * {
  font-size: 15px;
  line-height: 16px;
  color: #BDBDBD;
}
.footer__bottom_menu {
  display: flex;
  gap: 22px;
}
@media (max-width: 580px) {
  .footer__bottom_menu {
    flex-direction: column;
  }
}
.footer__bottom_menu_link {
  transition: 0.2s;
}
.footer__bottom_menu_link:hover {
  color: #F0C45E;
  transition: 0.2s;
}
.footer__bottom_menu_el {
  position: relative;
}
.footer__bottom_menu_el:not(:last-child)::before {
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  right: -11px;
  transform: translate(0, -50%);
}
@media (max-width: 580px) {
  .footer__bottom_menu_el:not(:last-child)::before {
    right: 50%;
    top: 170%;
  }
}

.favorites {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6980392157);
  z-index: 1110;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}
.favorites.active {
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
}
.favorites.active .favorites__wrapper {
  right: 0;
  transition: 0.3s;
}
.favorites__wrapper {
  background: #fff;
  margin-left: auto;
  width: 100%;
  max-width: 768px;
  height: 100%;
  padding: 80px 20px;
  overflow-y: auto;
  position: relative;
  right: -100%;
  transition: 0.3s;
}
.favorites__wrapper::-webkit-scrollbar {
  display: none;
}
.favorites__closeBtn {
  position: absolute;
  top: 30px;
  right: 30px;
}
@media (max-width: 580px) {
  .favorites__closeBtn {
    top: 10px;
    right: 10px;
  }
}
.favorites__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
}
@media (max-width: 580px) {
  .favorites__content {
    grid-template-columns: 1fr;
  }
}
.favorites__title {
  padding-left: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 150px;
}
.favorites .product__pic {
  width: 270px;
}
.favorites .product__pic.promo {
  width: 304px;
  height: 400px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 980px) {
  .favorites .product__pic.promo {
    height: 360px;
  }
}
@media (max-width: 580px) {
  .favorites .product__pic.promo {
    height: auto;
  }
}
.favorites .product__pic img {
  width: 100%;
}
.favorites .product__pic_decor {
  width: 277px;
}
.favorites .product__pic_decor img {
  width: 100%;
}
.favorites .product__tooltip {
  width: 86px;
  height: 86px;
  left: 15px;
}
.favorites .product__tooltip_pr {
  font-size: 16px;
  line-height: 18px;
}
.favorites .product__animation {
  right: 5px;
}
@media (max-width: 980px) {
  .favorites .product__animation {
    right: 35px;
    top: -45px;
  }
}

.basket {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6980392157);
  z-index: 1110;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}
.basket.active {
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
}
.basket.active .basket__wrapper {
  right: 0;
  transition: 0.3s;
}
.basket__title {
  padding-left: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 50px;
}
@media (max-width: 580px) {
  .basket__title {
    text-align: center;
    padding: 0;
  }
}
.basket__wrapper {
  background: #fff;
  margin-left: auto;
  width: 100%;
  max-width: 560px;
  height: 100%;
  padding: 80px 20px;
  overflow-y: auto;
  position: relative;
  right: -100%;
  transition: 0.3s;
}
.basket__wrapper::-webkit-scrollbar {
  display: none;
}
.basket__closeBtn {
  position: absolute;
  top: 30px;
  right: 30px;
}
@media (max-width: 580px) {
  .basket__closeBtn {
    top: 10px;
    right: 10px;
  }
}
.basket__footer {
  display: flex;
  margin-top: 45px;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 580px) {
  .basket__footer {
    flex-direction: column;
    gap: 20px;
  }
}
.basket__footer_btn {
  display: block;
  width: 100%;
  max-width: 250px;
  border-radius: 30px;
  background: #E6BA54;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.01em;
  text-align: center;
  color: #fff;
  position: relative;
  margin-right: 5px;
}
@media (max-width: 580px) {
  .basket__footer_btn {
    max-width: 100%;
  }
}
.basket__footer_btn::before {
  content: "";
  display: block;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border-radius: 30px;
  border: 1px solid #080807;
  position: absolute;
  top: -4px;
  left: -5px;
  transition: 0.2s;
}
.basket__footer_btn:active::before {
  transition: 0.2s;
  top: 0;
  left: 0;
}
.basket__footer_btn:hover {
  background: #FACE68;
  transition: 0.2s;
}
.basket__footer_btn:active {
  transition: 0.2s;
  background: #DCB04A;
}
.basket__footer_pr {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.01em;
  text-align: center;
  color: #231F20;
}
.basket .order__products {
  border-radius: 16px;
  background: #F3F3F3;
  padding: 10px 0;
  width: 100%;
  max-width: 512px;
  position: relative;
}
@media (max-width: 980px) {
  .basket .order__products {
    max-width: 100%;
  }
}
.basket .order__products_el {
  padding: 20px 20px 20px 10px;
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1.5px solid #E7E7E7;
}
@media (max-width: 580px) {
  .basket .order__products_el {
    align-items: flex-start;
    padding: 15px;
    flex-direction: column;
  }
}
.basket .order__products_el_clearBtn {
  position: absolute;
  top: 20px;
  right: 20px;
}
.basket .order__products_el_pic {
  width: 160px;
  height: 160px;
}
@media (max-width: 580px) {
  .basket .order__products_el_pic {
    width: 50px;
    height: 50px;
  }
}
.basket .order__products_el_pic_img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.basket .order__products_el_desc_name {
  margin: 10px 0 6px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.basket .order__products_el_desc_volume {
  margin-bottom: 28px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
@media (max-width: 580px) {
  .basket .order__products_el_desc_volume {
    margin-bottom: 4px;
  }
}
.basket .order__products_el_desc_quant {
  margin-bottom: 10px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.02em;
}
.basket .order__products_el_quant {
  display: flex;
  align-items: center;
  gap: 10px;
}
.basket .order__products_el_quant_num {
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.48px;
  text-align: center;
}
.basket .order__products_el_price {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.basket .order__products_el_price_regular {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 12.64px;
  line-height: 15.3px;
  color: #828282;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-bottom: 8px;
}
.basket .order__products_el_price_regular::before {
  content: "";
  display: block;
  width: 90%;
  height: 1px;
  position: absolute;
  top: 40%;
  transform: translate(0, -50%) rotateZ(8deg);
  background: #828282;
}
.basket .order__products_el_price_regular b {
  font-size: 20px;
  color: #828282;
  line-height: 24px;
}
@media (max-width: 580px) {
  .basket .order__products_el_price_regular b {
    font-size: 16px;
    line-height: 19px;
  }
}
.basket .order__products_el_price_real {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.4px;
}
.basket .order__products_el_price_real b {
  font-family: "Inter", sans-serif;
  font-size: 26px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.4px;
}
@media (max-width: 580px) {
  .basket .order__products_el_price_real b {
    font-size: 18px;
    line-height: 18px;
  }
}
.basket .order__products_footer {
  padding: 20px;
}
.basket .order__products_footer_delivery, .basket .order__products_footer_total {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.basket .order__products_footer_delivery *, .basket .order__products_footer_total * {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
}
.basket .order__products_footer_delivery {
  margin-bottom: 4px;
}
.basket .order__products_footer_delivery_key, .basket .order__products_footer_delivery_value {
  font-weight: 400;
}
.basket .order__products_footer_total_key {
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
}
.basket .order__products_footer_total_value {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.36px;
}
.basket .order__products_footer_total_value_summ {
  font-size: 30px;
  font-weight: 700;
  line-height: 36.31px;
}

.productOffers {
  width: 100%;
  padding: 120px 0;
}
@media (max-width: 1580px) {
  .productOffers {
    padding: 55px 0 70px;
  }
}
@media (max-width: 980px) {
  .productOffers {
    padding: 100px 0 50px;
  }
}
.productOffers__wrapper,
.productOffers .wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 180px;
  padding: 70px 15px;
  width: 100%;
  max-width: 1740px;
  margin: 0 auto;
}
@media (max-width: 1580px) {
  .productOffers__wrapper,
  .productOffers .wrapper {
    padding: 70px 80px;
    grid-gap: 20px;
  }
}
@media (max-width: 980px) {
  .productOffers__wrapper,
  .productOffers .wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-gap: 45px;
    padding: 100px 40px 70px;
  }
}
@media (max-width: 580px) {
  .productOffers__wrapper,
  .productOffers .wrapper {
    gap: 70px;
    padding: 100px 20px 70px;
  }
}
.productOffers__title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.01em;
}
.productOffers__link {
  display: block;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  width: 100%;
  max-width: 210px;
  background: #080807;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.01em;
  position: relative;
  border-radius: 28px;
}
.productOffers__link::before {
  content: "";
  display: block;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border-radius: 28px;
  border: 1px solid #000;
  position: absolute;
  top: -4px;
  left: -5px;
  transition: 0.2s;
}
.productOffers__link:active::before {
  transition: 0.2s;
  top: 0;
  left: 0;
}
.productOffers__link:hover {
  background: #fff;
  color: #080807;
  transition: 0.2s;
}
.productOffers__link:active {
  transition: 0.2s;
  background: #080808;
  color: #fff;
}

/* .product {
    position: relative;

    &:hover &__pic {
        transition: .3s;
        transform: rotateZ(-9deg);
    }

    &__pic {
        position: relative;
        z-index: 1080;
        margin: 0 auto;
        transition: .3s;

        @media (max-width: 1020px) {
            width: 270px;
        }

        @media (max-width: 520px) {
            width: 255px;
        }
    }

    &__img {
        position: relative;
        margin: 0 auto;
        z-index: 1080;

        @media (max-width: 1020px) {
            width: 100%;
        }
    }

    &__bg,
    &__animation {
        position: absolute;
    }

    &__animation {
        top: -14%;
        right: 60px;
        z-index: 1060;

        @media (max-width: 1020px) {
            top: -13%;
            right: 15px;
            width: 130px;
        }

        @media (max-width: 520px) {
            top: -15%;
            right: 15px;
        }

        &_img {

            @media (max-width: 1020px) {
                width: 100%;
            } 
        }
    }

    &__bg {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        @media (max-width: 1020px) {
            top: 40%;
            width: 270px;
        }
    }

    &__name {
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: -0.05em;
        text-align: center;
    }

    &__tooltip {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 110px;
        height: 110px;
        position: absolute;
        left: 0;
        top: 100px;
        z-index: 1076;

        @media (max-width: 1020px) {
            width: 86px;
            height: 86px;
            top: 60px;
            left: 15px;
        }

        &.green {
            background: #9CC046;
        }

        &.purple {
            background: #5E3C98;
        }

        &.orange {
            background: #F37350;
        }

        &_pr {
            text-align: center;
            font-family: "Gochi Hand";
            font-size: 20px;
            font-weight: 400;
            line-height: 23.57px;
            letter-spacing: -0.01em;
            text-align: center;
            color: #fff;

            @media (max-width: 1020px) {
                font-size: 16px;
                line-height: 18px;
            }
        }
    }

    &__price {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-bottom: 10px;

        &_regular,
        &_new {
            font-family: "Inter", sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 19.36px;
            letter-spacing: 0.4px;
            text-align: center;
        }

        &_regular {
            color: #828282;
        }

        &_new {
            font-weight: 700;
        }
    }

    &__btns {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;

        &_addWishlist {
            position: relative;
            width: 40px;
            height: 40px;
            min-width: 40px;
            min-height: 40px;

            &_icon {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 1;
                transition: .3s;

                &.hover {
                    opacity: 0;
                }
            }

            &.active &_icon {
                opacity: 0;
                transition: .3s;

                &.hover {
                    opacity: 1;
                }
            }
        }

        &_buy {
            display: block;
            border-radius: 28px;
            width: 100%;
            max-width: 132px;
            text-align: center;
            position: relative;
            color: #fff;
            font-size: 20px;
            font-weight: 700;
            line-height: 40px;
            letter-spacing: -0.01em;
            padding: 2px 20px;
            background: #F0C45E;

            @media (max-width: 520px) {
                max-width: 170px;
            }

            &::before {
                content: '';
                display: block;
                width: calc(100% - 2px);
                height: calc(100% - 2px);
                border-radius: 28px;
                border: 1px solid #000;
                position: absolute;
                top: -4px;
                left: -5px;
                transition: .2s;
            }

            &:active::before {
                transition: .2s;
                top: 0;
                left: 0;
            }

            &:hover {
                background: #FACE68;
                transition: .2s;
            }

            &:active {
                transition: .2s;
                background: #DCB04A;
            }
        }
    }
} */
.product {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
}
@media (max-width: 980px) {
  .product {
    max-width: 320px;
  }
}
.product:hover .product__images {
  transform: rotateZ(-8deg);
  transition: 0.3s;
}
.product__images {
  position: relative;
  z-index: 1;
  transition: 0.3s;
}
.product__wrapper {
  display: block;
  position: relative;
}
.product__pic {
  width: 100%;
  max-width: 335px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 980px) {
  .product__pic {
    max-width: 255px;
  }
}
.product__pic.promo {
  width: 430px;
}
.product__pic_decor {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product__animation {
  position: absolute;
  top: -60px;
  right: 50px;
  z-index: -1;
  width: 172px;
  height: 172px;
}
@media (max-width: 980px) {
  .product__animation {
    width: 130px;
    height: 130px;
    top: -45px;
    right: 35px;
  }
}
.product__animation_img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.product__tooltip {
  position: absolute;
  top: 60px;
  left: 30px;
  width: 110px;
  height: 110px;
  padding: 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 980px) {
  .product__tooltip {
    width: 86px;
    height: 86px;
    top: 50px;
    left: 10px;
  }
}
.product__tooltip_pr {
  text-align: center;
  font-family: "Gochi Hand";
  font-size: 20px;
  font-weight: 400;
  line-height: 23.5px;
  letter-spacing: -0.01em;
  color: #fff;
}
@media (max-width: 980px) {
  .product__tooltip_pr {
    font-size: 16px;
    line-height: 18px;
  }
}
.product__name {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 15px;
  letter-spacing: -0.05em;
}
.product__price {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}
.product__price * {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 19.36px;
  letter-spacing: 0.4px;
  text-align: center;
}
.product__price_regular {
  color: #828282;
  font-weight: 400;
  position: relative;
}
.product__price_regular::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #828282;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  transform: rotateZ(8deg);
}
.product__price_sale {
  font-weight: 700;
  color: #080807;
}
.product__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.product__footer_addWishlist {
  width: 40px;
  height: 40px;
  position: relative;
}
.product__footer_addWishlist_icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: 0.2s;
  visibility: visible;
  opacity: 1;
  transition: 0.2s;
}
.product__footer_addWishlist_icon.hover {
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
}
.product__footer_addWishlist.active .product__footer_addWishlist_icon {
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
}
.product__footer_addWishlist.active .product__footer_addWishlist_icon.hover {
  visibility: visible;
  opacity: 1;
  transition: 0.2s;
}

.productCart {
  width: 100%;
  max-width: 1610px;
  margin: 0 auto;
  padding: 240px 15px 70px;
  display: flex;
  gap: 160px;
  position: relative;
}
@media (max-width: 1580px) {
  .productCart {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 240px 80px 0px;
    grid-gap: 20px;
  }
}
@media (max-width: 980px) {
  .productCart {
    padding: 170px 25px 95px;
    grid-template-columns: 1fr;
    grid-gap: 80px;
  }
}
@media (max-width: 580px) {
  .productCart {
    padding: 80px 10px 60px;
  }
}
.productCart__decor {
  position: absolute;
  right: -25px;
  top: 95px;
}
@media (max-width: 1580px) {
  .productCart__decor {
    right: 10px;
  }
}
@media (max-width: 980px) {
  .productCart__decor {
    top: 120px;
  }
}
@media (max-width: 580px) {
  .productCart__decor {
    display: none;
  }
}
.productCart #productMedia {
  max-width: 520px;
  margin: 0 auto;
  margin-top: 30px;
}
@media (max-width: 580px) {
  .productCart #productMedia {
    max-width: 255px;
  }
}
.productCart #productMedia .swiper-slide {
  border-radius: 12px;
  border: 1px solid #fff;
  transition: 0.3s;
  overflow: hidden;
}
.productCart #productMedia .swiper-slide:hover {
  transition: 0.3s;
  border: 1px solid #080807;
}
.productCart .swiper-slide-thumb-active {
  border: 1px solid #080807 !important;
  transition: 0.3s;
}
.productCart__media {
  position: relative;
  width: 100%;
  max-width: 690px;
}
@media (max-width: 580px) {
  .productCart__media {
    max-width: 320px;
    margin: 0 10px;
  }
}
.productCart__media_btn {
  position: absolute;
  bottom: 30px;
  width: 44px;
  height: 44px;
}
@media (max-width: 580px) {
  .productCart__media_btn {
    bottom: 15px;
    width: 40px;
  }
}
.productCart__media_btn.next {
  right: 0;
}
@media (max-width: 580px) {
  .productCart__media_btn.next {
    right: -10px;
  }
}
.productCart__media_btn.prev {
  left: 0;
}
@media (max-width: 580px) {
  .productCart__media_btn.prev {
    left: -10px;
  }
}
.productCart__media_btn_icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  visibility: visible;
  opacity: 1;
  transition: 0.2s;
}
.productCart__media_btn_icon.hover {
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
}
.productCart__media_btn:hover .productCart__media_btn_icon {
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
}
.productCart__media_btn:hover .productCart__media_btn_icon.hover {
  visibility: visible;
  opacity: 1;
  transition: 0.2s;
}
.productCart__media_el {
  position: relative;
  width: 690px;
  height: 570px;
  overflow: hidden;
}
@media (max-width: 580px) {
  .productCart__media_el {
    width: 100%;
    height: 440px;
  }
}
.productCart__media_el_decor {
  position: absolute;
  top: 30px;
  left: 200px;
}
@media (max-width: 580px) {
  .productCart__media_el_decor {
    left: 60px;
  }
}
.productCart__media_el_playBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.productCart__media_el_playBtn_icon {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.productCart__media_el_img, .productCart__media_el_video {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: 0.3s;
}
.productCart__media_el_img:hover, .productCart__media_el_video:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.productCart__media_elSmall {
  width: 100px;
  height: 100px;
  cursor: pointer;
}
@media (max-width: 580px) {
  .productCart__media_elSmall {
    width: 60px;
    height: 60px;
  }
}
.productCart__media_elSmall_img, .productCart__media_elSmall_video {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.productCart__details_header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 24px;
}
.productCart__details_header_title {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
}
@media (max-width: 580px) {
  .productCart__details_header_title {
    max-width: 280px;
    font-size: 32px;
  }
}
.productCart__details_header_addWishlist {
  position: relative;
  width: 40px;
  height: 40px;
}
.productCart__details_header_addWishlist_icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  transition: 0.2s;
}
.productCart__details_header_addWishlist_icon.hover {
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
}
.productCart__details_header_addWishlist.active .productCart__details_header_addWishlist_icon {
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
}
.productCart__details_header_addWishlist.active .productCart__details_header_addWishlist_icon.hover {
  opacity: 1;
  visibility: visible;
  transition: 0.2s;
}
.productCart__details_subtitle, .productCart__details_pr {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
.productCart__details_subtitle {
  margin-bottom: 5px;
}
.productCart__details_pr {
  font-weight: 500;
}
.productCart__details_info {
  margin: 8px 0;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.03em;
  color: #9CC046;
}
.productCart__details_volume {
  margin-bottom: 50px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #231F20;
}
@media (max-width: 580px) {
  .productCart__details_volume {
    margin-bottom: 32px;
  }
}
.productCart__details_sizes {
  display: flex;
  gap: 8px;
}
@media (max-width: 580px) {
  .productCart__details_sizes {
    flex-wrap: wrap;
  }
}
.productCart__details_sizes_btn {
  padding: 5px 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.16px;
  text-align: center;
  border-radius: 25px;
  border: 1px solid #231F20;
  transition: 0.3s;
}
.productCart__details_sizes_btn.active, .productCart__details_sizes_btn:hover, .productCart__details_sizes_btn:active {
  background: #231F20;
  transition: 0.3s;
  color: #FFFFFF;
}
.productCart__details_sizes_btn.gradient {
  position: relative;
  background: #fff;
  border: none;
  transition: 0.3s;
}
.productCart__details_sizes_btn.gradient.active, .productCart__details_sizes_btn.gradient:hover {
  transition: 0.3s;
  background: linear-gradient(119.65deg, #E8E94F 14.87%, #EDB24C 31.42%, #EA353B 65.41%, #C62A88 88.75%);
}
.productCart__details_sizes_btn.gradient::before {
  content: "";
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  border-radius: 30px;
  background: linear-gradient(119.65deg, #E8E94F 14.87%, #EDB24C 31.42%, #EA353B 65.41%, #C62A88 88.75%);
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: -1;
}
.productCart__details_price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 680px;
  margin: 50px 0 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #080807;
}
@media (max-width: 580px) {
  .productCart__details_price {
    align-items: flex-start;
    gap: 24px;
    flex-direction: column;
    margin: 40px 0 0;
    border: none;
  }
}
.productCart__details_price_quant {
  display: flex;
  align-items: flex-end;
  position: relative;
  gap: 10px;
}
.productCart__details_price_quant_num {
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -0.04em;
}
@media (max-width: 580px) {
  .productCart__details_price_quant_num {
    font-size: 32px;
    line-height: 32px;
  }
}
@media (max-width: 580px) {
  .productCart__details_price_quant_txt {
    font-size: 16px;
    line-height: 19px;
  }
}
.productCart__details_price_quant_currency {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  letter-spacing: 0.4px;
}
.productCart__details_price_quant_forOnePice {
  position: absolute;
  left: 12px;
  top: 18px;
  width: 40px;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 800;
  line-height: 16px;
  letter-spacing: 0.4px;
  text-align: center;
  color: #fff;
}
.productCart__details_price_btns {
  display: flex;
  align-items: center;
  gap: 5px;
}
.productCart__details_price_btns_productSumm {
  display: block;
}
.productCart__details_price_btns_productSumm * {
  display: block;
  letter-spacing: 0.5px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  text-align: center;
}
.productCart__details_price_btns_productSumm_num {
  font-size: 22px;
  line-height: 24px;
}
.productCart__details_price_btns_productSumm_txt {
  font-size: 12px;
  line-height: 14.52px;
}
.productCart__details_price_btns_btn {
  border-radius: 46% 54% 46% 54%/48% 52% 48% 52%;
  background: #fff;
  transition: 0.3s;
}
.productCart__details_price_btns_btn:hover {
  background: #AFAFAF;
  transition: 0.3s;
}
.productCart__details_price_btns_btn:active {
  background: #fff;
  transition: 0.3s;
}
.productCart__details_price_total {
  display: flex;
  align-items: flex-end;
  gap: 8px;
}
@media (max-width: 580px) {
  .productCart__details_price_total {
    border-top: 1px solid #080807;
    width: 100%;
    padding-top: 24px;
  }
}
.productCart__details_price_total_regular {
  position: relative;
}
.productCart__details_price_total_regular::before {
  content: "";
  display: block;
  width: 95%;
  height: 1px;
  background: #828282;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(6deg);
}
.productCart__details_price_total_regular * {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #828282;
}
.productCart__details_price_total_regular_num {
  font-size: 26px;
  line-height: 31.47px;
}
.productCart__details_price_total_regular_currency {
  font-size: 12.64px;
  line-height: 15.3px;
}
.productCart__details_price_total_real {
  display: flex;
  align-items: flex-end;
  gap: 8px;
}
.productCart__details_price_total_real * {
  font-family: "Inter", sans-serif;
  color: #080807;
}
.productCart__details_price_total_real_num {
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.04em;
}
.productCart__details_price_total_real_txt {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  letter-spacing: 0.4px;
}
.productCart__details_delivery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 46px;
}
@media (max-width: 580px) {
  .productCart__details_delivery {
    flex-direction: column-reverse;
    gap: 30px;
  }
}
.productCart__details_delivery_wrapper {
  display: flex;
  gap: 8px;
}
.productCart__details_delivery_img {
  width: 28px;
  height: 28px;
}
.productCart__details_delivery_pr {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.productCart__details_addBasket {
  display: block;
  padding: 5px;
  text-align: center;
  width: 100%;
  max-width: 210px;
  background: #F0C45E;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.01em;
  text-align: center;
  position: relative;
  border-radius: 28px;
}
@media (max-width: 580px) {
  .productCart__details_addBasket {
    max-width: 100%;
  }
}
.productCart__details_addBasket::before {
  content: "";
  display: block;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border-radius: 28px;
  border: 1px solid #000;
  position: absolute;
  top: -4px;
  left: -5px;
  transition: 0.2s;
}
.productCart__details_addBasket:active::before {
  transition: 0.2s;
  top: 0;
  left: 0;
}
.productCart__details_addBasket:hover {
  background: #FACE68;
  transition: 0.2s;
}
.productCart__details_addBasket:active {
  transition: 0.2s;
  background: #DCB04A;
}
.productCart__details_stores_wrapper {
  display: flex;
  gap: 8px;
  overflow-x: auto;
  max-width: 680px;
  padding: 15px 0 25px;
}
@media (max-width: 580px) {
  .productCart__details_stores_wrapper {
    max-width: 340px;
  }
}
.productCart__details_stores_wrapper::-webkit-scrollbar {
  height: 2px;
  background: #E0E0E0;
  border-radius: 5px;
}
.productCart__details_stores_wrapper::-webkit-scrollbar-thumb {
  height: 2px;
  background: #000;
  border-radius: 5px;
}
.productCart__details_stores_el {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 140px;
  height: 46px;
}
.productCart__details_stores_el_logo {
  margin: 0 auto;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.productCart__details_stores_el_icon {
  position: absolute;
  top: 0;
  right: 0;
}

.advantagesSm {
  width: 100%;
  padding: 67px 0 77px;
}
@media (max-width: 980px) {
  .advantagesSm {
    padding: 75px 0 60px;
    background: #f7f5f5;
  }
}
.advantagesSm__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 1720px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: 980px) {
  .advantagesSm__wrapper {
    gap: 60px;
    padding: 0 25px;
    overflow-x: auto;
    padding-bottom: 40px;
  }
  .advantagesSm__wrapper::-webkit-scrollbar {
    background: #f0f0f0;
    height: 2px;
  }
  .advantagesSm__wrapper::-webkit-scrollbar-thumb {
    background: #000;
    height: 2px;
  }
}
@media (max-width: 980px) {
  .advantagesSm__el {
    min-width: -moz-fit-content;
    min-width: fit-content;
  }
}
.advantagesSm__el_img {
  width: 70px;
  height: 70px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 auto 18px;
}
.advantagesSm__el_title {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
}

.aboutProduct {
  background: rgba(99, 55, 55, 0.0509803922);
}
.aboutProduct__wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 740px;
  min-height: -moz-fit-content;
  min-height: fit-content;
}
@media (max-width: 980px) {
  .aboutProduct__wrapper {
    display: flex;
    height: auto;
    flex-direction: column-reverse;
  }
}
.aboutProduct__pic {
  overflow: hidden;
  height: 100%;
}
@media (max-width: 580px) {
  .aboutProduct__pic {
    height: 345px;
  }
}
.aboutProduct__pic_img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s;
}
.aboutProduct__pic_img:hover {
  transition: 0.3s;
  transform: scale(1.1);
}
.aboutProduct__desc {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  max-width: 795px;
  margin-left: auto;
  padding: 80px 0 80px 15px;
  position: relative;
}
@media (max-width: 1580px) {
  .aboutProduct__desc {
    padding-left: 115px;
  }
}
@media (max-width: 980px) {
  .aboutProduct__desc {
    padding: 90px 105px;
  }
}
@media (max-width: 580px) {
  .aboutProduct__desc {
    padding: 90px 30px;
  }
}
.aboutProduct__desc_decor {
  position: absolute;
  top: 37px;
  right: 32px;
}
.aboutProduct__desc_title {
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -0.02em;
  margin-bottom: 16px;
  max-width: 80%;
}
.aboutProduct__desc_info {
  margin-top: 30px;
}
.aboutProduct__desc_info_title {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.02em;
  margin-bottom: 10px;
}
.aboutProduct__desc_info_list {
  display: grid;
  margin-left: 30px;
  list-style-type: disc;
}
.aboutProduct__desc_info_list_el {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.02em;
}
.aboutProduct__desc_list {
  width: 100%;
  max-width: 540px;
}
.aboutProduct__desc_list_el {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  gap: 20px;
  border-bottom: 1px solid #080807;
}
.aboutProduct__desc_list_el * {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.02em;
}
.aboutProduct__desc_list_el_value {
  text-align: right;
}

.productOffers__wrapper {
  display: block;
}
@media (max-width: 980px) {
  .productOffers__wrapper {
    padding: 80px 50px 65px;
    overflow-x: auto;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .productOffers__wrapper::-webkit-scrollbar {
    background: #f7f5f5;
    height: 2px;
  }
  .productOffers__wrapper::-webkit-scrollbar-thumb {
    background: #000;
    height: 2px;
    grid-gap: 20px;
  }
}
@media (max-width: 580px) {
  .productOffers__wrapper {
    padding: 80px 20px 50px;
  }
}
.productOffers .wrapper {
  padding: 0;
}
@media (max-width: 980px) {
  .productOffers .wrapper {
    display: flex;
    flex-wrap: nowrap;
    grid-gap: 30px;
    max-width: 100%;
    min-width: -moz-fit-content;
    min-width: fit-content;
    padding: 0;
  }
}
@media (max-width: 980px) {
  .productOffers .product {
    width: 320px;
  }
}
@media (max-width: 980px) {
  .productOffers__link {
    margin-top: 50px;
  }
}/*# sourceMappingURL=product.css.map */