#adaptive {
    min-width: 1920px;
    max-width: 1920px;
    margin: 0 auto;
    overflow-x: hidden;

    @media (max-width: 1580px) {
        min-width: 1550px;
        max-width: 1550px;
    }

    @media (max-width: 980px) {
        min-width: 768px;
        max-width: 768px;
    }

    @media (max-width: 520px) {
        max-width: 360px;
        min-width: 360px;
    }
}