@import '../main';
@import '../navbar';
@import '../footer';
@import '../favorites';
@import '../basket';
@import '../productOffers';
@import '../productCart';



.wrapper {
    display: flex;
    gap: 65px;
    width: 100%;
    padding: 30px 180px 120px;
    max-width: 1920px;
    margin: 0 auto;

    @media (max-width: 1580px) {
        padding: 30px 80px 120px;
    }

    @media (max-width: 980px) {
        padding: 35px 60px 100px;
    }

    @media (max-width: 580px) {
        padding: 35px 20px 90px;
    }
}

.header {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
    padding: 200px 180px 0px;
    max-width: 1920px;
    margin: 0 auto;

    @media (max-width: 1580px) {
        padding: 200px 80px 0;
    }

    @media (max-width: 980px) {
        padding: 185px 60px 0;
    }

    @media (max-width: 580px) {
        padding: 120px 20px 0;
    }

    &__date {
        font-family: "Inter", sans-serif;
        font-size: 13px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.02em;
    }

    &__wrapper {
        display: flex;
        gap: 12px;
    }

    &__hashtag {
        font-family: "Gochi" Hand;
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: -0.01em;
        text-align: center;
        display: block;
        padding: 8px 12px;
        border-radius: 16px;
        background: #CB9700;
        color: #fff;
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFFFFF1A;
    backdrop-filter: blur(8px);
    z-index: 1100;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.article {
    width: 100%;
    max-width: 1000px;

    .articleFooter {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 580px) {
            flex-direction: column-reverse;
            align-items: flex-end;
            gap: 20px;
        }

        &__btns {
            display: flex;
            gap: 40px;

            @media (max-width: 580px) {
                width: 100%;
                justify-content: space-between;
            }

            &_btn {
                display: flex;
                align-items: center;
                font-family: "Inter", sans-serif;
                font-size: 13px;
                font-weight: 400;
                line-height: 24px;
                color: #080807;
                position: relative;
                transition: .2s;

                &.next {
                    padding-right: 50px;
                }

                &.prev {
                    padding-left: 50px;
                }

                &_icon {
                    width: 42px;
                    visibility: visible;
                    opacity: 1;
                    transition: .2s;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    margin: auto 0;

                    &.hover {
                        visibility: hidden;
                        opacity: 0;
                        transition: .2s;
                    }
                }

                &.prev img {
                    left: 0;
                }
                &.next img {
                    right: 0;
                }

                &:hover {
                    transition: .2s;
                    color: #f0c45e;
                }

                &:hover img {
                    visibility: hidden;
                    opacity: 0;
                    transition: .2s;

                    &.hover {
                        visibility: visible;
                        opacity: 1;
                        transition: .2s;
                    }
                }
            }
        }

        &__share {
            position: relative;

            &_drop {
                position: absolute;
                top: -50px;
                right: 0px;
                max-width: 0;
                transition: .3s;
                overflow: hidden;

                &_wrapper {
                    width: fit-content;
                    gap: 18px;
                    border-radius: 8px;
                    display: flex;
                    background: #E0E0E0;
                    padding: 12px 14px;
                }

                &_link {
                    position: relative;
                    width: 20px;
                    height: 20px;
                    display: block;

                    &_icon {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        visibility: visible;
                        opacity: 1;
                        transition: .2s;

                        &.hover {
                            visibility: hidden;
                            opacity: 0;
                            transition: .2s;
                        }
                    }

                    &:hover img {
                        visibility: hidden;
                        opacity: 0;
                        transition: .2s;
                    }

                    &:hover img.hover {
                        visibility: visible;
                        opacity: 1;
                        transition: .2s;
                    }

                    &:active img {
                        transform: scale(1.3);
                        transition: .2s;
                    }
                }
            }

            &_btn {
                display: flex;
                align-items: center;
                gap: 6px;
                padding: 8px 20px;
                border-radius: 28px;
                font-family: "Inter", sans-serif;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: -0.02em;
                text-align: center;
                background: #BDBDBD;
                position: relative;
                transition: .2s;

                &::before {
                    content: '';
                    display: block;
                    width: calc(100% - 2px);
                    height: calc(100% - 2px);
                    border-radius: 28px;
                    position: absolute;
                    top: -2px;
                    left: -4px;
                    transition: .2s;
                    border: 1px solid #080807;
                }

                &:active::before {
                    transition: .2s;
                    top: 0;
                    left: 0;
                }

                &:hover {
                    background: #DBDBDB;
                    transition: .2s;
                }

                &:active {
                    transition: .2s;
                    background: #A9A9A9;
                }
            }
        }
    }

    .form {
        position: relative;
        margin: 50px 0 30px;
        width: 100%;
        border-radius: 16px;
        padding: 40px 40px 30px 40px;
        background: linear-gradient(112.15deg, #EDEA41 0%, #46B85B 189.48%);

        @media (max-width: 980px) {
            padding: 40px 40px 20px;
        }

        @media (max-width: 580px) {
            margin: 60px 0;
            padding: 40px 20px;
        }

        &__decor {
            position: absolute;
            left: 0;
            top: -20px;

            @media (max-width: 980px) {
                display: none;
            }
        }

        &__info {
            font-family: "Inter", sans-serif;
            margin-top: 8px;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: -0.02em;
            color: #828282;
        }

        &__submit {
            display: flex;
            gap: 10px;

            @media (max-width: 580px) {
                flex-direction: column;
            }

            &_inp {
                width: 100%;
                max-width: 285px;
                background: #fff;
                padding: 8px;
                border-radius: 4px;
                font-family: "Inter", sans-serif;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;

                &::placeholder {
                    font-family: "Inter", sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    color: #BDBDBD;
                }
            }

            &_btn {
                border-radius: 28px;
                background: #080807;
                padding: 8px 40px;
                color: #fff;
                text-align: center;
                width: fit-content;
                position: relative;
                font-family: "Inter", sans-serif;
                font-size: 18px;
                font-weight: 400;
                line-height: 21.78px;
                transition: .3s;

                @media (max-width: 580px) {
                    max-width: 100%;
                    width: 100%;
                }

                &::before {
                    content: '';
                    display: block;
                    width: calc(100% - 2px);
                    height: calc(100% - 2px);
                    position: absolute;
                    top: -3px;
                    left: -4px;
                    transition: .3s;
                    border: 1px solid #fff;
                    border-radius: 28px;
                }

                &:active::before {
                    top: 0;
                    left: 0;
                    transition: .3s;
                }

                &:hover {
                    transition: .3s;
                    color: #080807;
                    background: #fff;
                }

                &:hover::before {
                    transition: .3s;
                    border: 1px solid #080807;
                }

                &:active {
                    color: #fff;
                    background: #080807;
                    transition: .3s;
                }
            }
        }

        &__title {
            font-family: "Inter", sans-serif;
            font-size: 40px;
            font-weight: 600;
            line-height: 40px;
            letter-spacing: -0.02em;
        }

        &__pr {
            margin: 10px 0 20px;
            font-family: "Inter", sans-serif;
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: -0.02em;
        }


    }

    h2 {
        font-family: "Montserrat", sans-serif;
        font-size: 40px;
        font-weight: 700;
        line-height: 40px;

        @media (max-width: 580px) {
            font-size: 32px;
        }
    }

    h3 {
        font-family: "Inter", sans-serif;
        font-size: 40px;
        font-weight: 600;
        line-height: 40px;
        letter-spacing: -0.02em;
        color: #231F20;

        @media (max-width: 580px) {
            font-size: 32px;
        }
    }

    h4 {
        font-family: "Montserrat", sans-serif;
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        margin-bottom: 10px;
    }

    b {
        font-family: "Inter", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: -0.02em;
        text-align: left;
    }

    ul {
        list-style: disc;
        padding-left: 30px;

        li {
            font-family: "Inter", sans-serif;
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: -0.02em;
        }
    }

    p,
    strong,
    blockquote {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.02em;
        text-align: left;
    }

    blockquote {
        position: relative;

        &::before {
            content: '';
            display: block;
            width: 152px;
            height: 95px;
            position: absolute;
            left: 0;
            top: -50px;
            background: url('../../images/drivingDecor.svg') no-repeat;
            z-index: -1;
        }
    }
    strong {
        font-weight: 700;
    }

    >img {
        border-radius: 16px;
        width: 100%;
        object-fit: cover;

        @media (max-width: 980px) {
            height: 400px;
        }
    }

    .accordion {
        &__item {
            margin-bottom: 10px;

            &_btn {
                display: flex;
                align-items: center;
                gap: 15px;
                padding: 20px 16px;
                border-radius: 8px;
                background: #F6F6F6;
                width: 100%;
                margin-bottom: 5px;

                * {
                    margin: 0;
                }

                &.active img {
                    transform: rotateZ(180deg);
                    transition: .3s;
                }

                img {
                    width: 13px;
                    height: 6.5px;
                    transition: .3s;
                    object-fit: contain;
                }
            }

            &_wrapper {
                border-radius: 8px;
                background: #F6F6F6;
                max-height: 0px;
                transition: .3s;
                overflow: hidden;

                p {
                    padding: 16px;
                }
            }
        }
    }

    .info {
        border-radius: 16px;
        padding: 20px;
        background: #F3F3F3;

        p {
            font-family: "Montserrat", sans-serif;
            font-size: 24px;
            font-weight: 400;
            line-height: 40px;
            letter-spacing: -0.05em;

            a {
                display: inline-block;
                padding-right: 30px;
                font-family: "Montserrat", sans-serif;
                font-size: 24px;
                font-weight: 400;
                line-height: 40px;
                letter-spacing: -0.05em;
                position: relative;
                transition: .2s;

                img {
                    position: absolute;
                    top: 8px;
                    right: 0;
                    width: 25px;
                    visibility: visible;
                    opacity: 1;
                    transition: .2s;

                    &.hover {
                        visibility: hidden;
                        opacity: 0;
                        transition: .2s;
                    }
                }

                &:hover {
                    transition: .2s;
                    color: #f0c45e;

                    img {
                        visibility: hidden;
                        opacity: 0;
                        transition: .2s;

                        &.hover {
                            visibility: visible;
                            opacity: 1;
                            transition: .2s;
                        }
                    }
                }

                &::after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 1px;
                    background: #231F20;
                    position: absolute;
                    bottom: 4px;
                    transition: .2s;
                }

                &:hover::after {
                    background: #f0c45e;
                    transition: .2s;
                }
            }
        }
    }

    ol {
        display: grid;
        flex-direction: column;
        gap: 4px;
        list-style: decimal;
        padding-left: 30px;
    }

    .ingredients {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 60px 50px;
        border-radius: 16px;
        background: #F3F3F3;
        max-width: 560px;

        >div {
            position: relative;
            width: fit-content;

            img {
                position: absolute;
                top: -15px;
                right: -35px;
            }
        }

        h3 {
            margin-bottom: 20px;
            position: relative;
            width: fit-content;
        }

        p {
            display: flex;
            justify-content: space-between;
            position: relative;

            @media (max-width: 580px) {
                flex-direction: column;
                gap: 20px;
            }

            &:not(:last-child) {
                &::before {
                    content: '';
                    display: block;
                    width: 100%;
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    z-index: 0;
                    background: url('../../images/dashed.svg');
                    height: 1.5px;
                }
            }
            span {
                font-family: "Montserrat", sans-serif;
                font-size: 24px;
                font-weight: 400;
                line-height: 40px;
                display: block;
                background: #F3F3F3;
                position: relative;
            }
        }
    }

    .energy {
        max-width: 540px;
        display: flex;
        flex-direction: column;
        gap: 8px;

        h3 {
            margin-bottom: 14px;
        }

        p {
            display: flex;
            justify-content: space-between;
            position: relative;
            padding-bottom: 8px;

            &::after {
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                background: #080807;
                position: absolute;
                bottom: 0;
                left: 0;
            }

            span {
                font-family: "Inter", sans-serif;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: -0.02em;

                @media (max-width: 580px) {
                    font-size: 14px;
                }
            }
        }
    }
}

.ads {
    background: #D9D9D9;
    margin-top: 85px;
    border-radius: 22px;
    width: 320px;
    height: 480px;

    @media (max-width: 980px) {
        display: none;
    }
}