@import '../main';
@import '../navbar';
@import '../footer';
@import '../favorites';
@import '../basket';
@import '../productOffers';
@import '../productCart';



.partnersHeader {
    background: #6337370D;
    padding: 170px 0 50px;
    position: relative;

    @media (max-width: 980px) {
        padding-top: 190px;
    }

    @media (max-width: 580px) {
        padding: 150px 0 75px;
    }

    &::before {
        content: '';
        display: block;
        width: 1360px;
        height: 680px;
        position: absolute;
        top: 115px;
        left: 42px;
        background: url('../../images/partnersBg.png') no-repeat;
        z-index: 0;
    }

    &__wrapper {
        width: 100%;
        max-width: 1580px;
        margin: 0 auto;
        padding: 0 15px;

        @media (max-width: 1580px) {
            padding: 0 80px;
        }

        @media (max-width: 980px) {
            padding: 0 60px;
        }

        @media (max-width: 580px) {
            padding: 0 30px;
        }
    }

    &__title {
        font-family: "Montserrat", sans-serif;
        font-size: 40px;
        font-weight: 700;
        line-height: 40px;

        @media (max-width: 580px) {
            font-size: 32px;
        }
    }

    &__pr {
        margin: 40px 0;
        font-family: "Inter", sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.02em;
        max-width: 750px;
    }

    &__list {
        overflow-x: auto;

        &::-webkit-scrollbar {
            height: 2px;
            border-radius: 2px;
            background: #E0E0E0;
        }

        &::-webkit-scrollbar-thumb {
            height: 2px;
            border-radius: 2px;
            background: #080807;
        }

        &_wrapper {
            min-width: fit-content;
            display: flex;
            gap: 50px;
            padding-bottom: 40px;
        }

        &_el {
            width: 160px;
            height: 75px;
            position: relative;
            z-index: 1;

            &_logo {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}



.partnersForm {
    width: 100%;
    padding: 160px 0;

    @media (max-width: 980px) {
        padding: 140px 0 105px;
    }

    @media (max-width: 580px) {
        padding: 40px 0 90px;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        gap: 75px;
        width: 100%;
        max-width: 1580px;
        margin: 0 auto;
        padding: 0 15px;

        @media (max-width: 1580px) {
            padding: 0 80px;
        }

        @media (max-width: 980px) {
            flex-direction: column;
            padding: 0 60px;
        }

        @media (max-width: 580px) {
            padding: 0 20px;
        }
    }

    &__pic {
        width: 100%;
        max-width: 775px;
        overflow: hidden;

        @media (max-width: 580px) {
            margin: 0 auto;
            max-width: 300px;
            height: 300px;
        }

        &_img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: .3s;

            &:hover {
                transition: .3s;
                transform: scale(1.1);
            }
        }
    }

    &__form {
        width: 100%;
        max-width: 640px;

        &_title {
            font-family: "Inter", sans-serif;
            font-size: 40px;
            font-weight: 600;
            line-height: 40px;
            letter-spacing: -0.02em;

            @media (max-width: 580px) {
                font-size: 32px;
            }
        }

        &_pr {
            margin: 20px 0;
            font-family: "Inter", sans-serif;
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: -0.02em;
        }

        &_lab {
            margin-bottom: 20px;
            position: relative;
            display: block;

            &.invalid &_tooltip {
                display: block;
            }

            &.invalid &_inp {
                border-bottom: 1px solid #DF4235;
            }

            &_tooltip {
                display: none;
                font-family: "Montserrat", sans-serif;
                font-size: 12px;
                font-weight: 400;
                line-height: 18px;
                color: #EB5757;
                padding: 4px 0 0 8px;
            }

            &_inp {
                display: block;
                width: 100%;
                padding: 8px 9px;
                font-family: "Inter", sans-serif;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                color: #080807;
                border-bottom: 1px solid #BDBDBD;

                &[type="phone"] {
                    padding-left: 105px;
                }

                &::placeholder {
                    font-family: "Inter", sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    color: #BDBDBD;
                }
            }

            &_clearBtn {
                position: absolute;
                top: 10px;
                right: 10px;
                opacity: 0;
                transition: .3s;
                visibility: hidden;

                &.active {
                    visibility: visible;
                    opacity: 1;
                    transition: .3s;
                }
            }

            &_code {
                position: absolute;
                top: 22px;
                left: 0;

                &_btn {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    padding: 8px 10px;

                    &_flag {
                        width: 20px;
                        height: 20px;
                    }

                    &_inp {
                        font-family: "Inter", sans-serif;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                        max-width: 40px;
                    }

                    &_arr {
                        transition: .3s;
                    }

                    &.active &_arr {
                        transition: .3s;
                        transform: rotateZ(180deg);
                    }
                }

                &_wrapper {
                    position: absolute;
                    background: #fff;
                    width: 100%;
                    z-index: 1080;
                    overflow: hidden;
                    max-height: 0px;
                    transition: .3s;
                }

                &_dropdown {
                    overflow-y: scroll;
                    max-height: 190px;

                    &::-webkit-scrollbar {
                        width: 2px;
                        border-radius: 2px;
                        background: #BDBDBD;
                    }

                    &::-webkit-scrollbar-thumb {
                        width: 2px;
                        border-radius: 2px;
                        background: #080807;
                    }

                    &_btn {
                        display: flex;
                        gap: 8px;
                        align-items: center;
                        padding: 4px 10px;
                        width: 100%;

                        &_flag {
                            width: 20px;
                            height: 20px;
                        }

                        &_txt {
                            font-family: "Inter", sans-serif;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 24px;
                        }
                    }
                }
            }

            &_name {
                font-family: "Montserrat", sans-serif;
                font-size: 12px;
                font-weight: 400;
                line-height: 18px;
                display: block;
                padding: 0 0 4px 8px;
                color: #828282;
            }
        }

        &_submit {
            margin-top: 42px;
            width: 100%;
            text-align: center;
            background: #F0C45E;
            border-radius: 28px;
            font-family: "Montserrat", sans-serif;
            font-size: 20px;
            font-weight: 700;
            line-height: 40px;
            letter-spacing: -0.01em;
            color: #fff;
            padding: 6px 11px 11px;
            position: relative;

            &::before {
                content: '';
                display: block;
                position: absolute;
                top: -6px;
                left: -12px;
                width: calc(100% - 2px);
                height: calc(100% - 2px);
                border-radius: 28px;
                border: 1px solid #080807;
                transition: .2s;

                @media (max-width: 580px) {
                    top: -4px;
                    left: -4px;
                }
            }

            &:active::before {
                transition: .2s;
                top: 0;
                left: 0;
            }

            &:hover {
                background: #FACE68;
                transition: .2s;
            }

            &:active {
                transition: .2s;
                background: #DCB04A;
            }
        }
    }
}