@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap");
#adaptive {
  min-width: 1920px;
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
}
@media (max-width: 1580px) {
  #adaptive {
    min-width: 1550px;
    max-width: 1550px;
  }
}
@media (max-width: 980px) {
  #adaptive {
    min-width: 768px;
    max-width: 768px;
  }
}
@media (max-width: 520px) {
  #adaptive {
    max-width: 360px;
    min-width: 360px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  color: #080807;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

ul,
ol {
  list-style: none;
}

button,
select,
input,
textarea {
  display: block;
  border: none;
  outline: none;
  background: none;
}

button,
select {
  cursor: pointer;
}

textarea {
  resize: none;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.btn-a {
  display: block;
  position: relative;
  border-radius: 30px;
  padding: 0 45px;
  text-align: center;
  color: #fff;
  background: #F0C45E;
  transition: 0.2s;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.01em;
}
.btn-a::before {
  content: "";
  display: block;
  border-radius: 30px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border: 1px solid #080807;
  position: absolute;
  top: -2px;
  left: -2px;
  transition: 0.2s;
}
.btn-a:hover {
  background: #FACE68;
  transition: 0.2s;
}
.btn-a:active::before {
  top: 0;
  left: 0;
  transition: 0.2s;
}
.btn-a:active {
  background: #DCB04A;
  transition: 0.2s;
}

.navbar {
  width: 100%;
  background: rgba(255, 255, 255, 0.1450980392);
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px 1px 4px 0px rgba(12, 12, 13, 0.1019607843);
  z-index: 1090;
  -webkit-backdrop-filter: blur(54px);
          backdrop-filter: blur(54px);
}
.navbar__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 34px 40px;
  width: 100%;
  transition: 0.3s;
}
@media (max-width: 980px) {
  .navbar__wrapper {
    padding: 40px;
  }
  .navbar__wrapper.active {
    padding: 8px 40px;
    transition: 0.3s;
  }
}
@media (max-width: 580px) {
  .navbar__wrapper {
    padding: 10px 20px;
  }
}
.navbar__wrapper.active {
  padding: 8px 40px;
  transition: 0.3s;
}
.navbar__lhand {
  display: flex;
  align-items: center;
  gap: 30px;
}
.navbar__logo {
  display: block;
  width: 220px;
  font-size: 0px;
  color: transparent;
  line-height: 0;
  margin-top: 8px;
}
@media (max-width: 580px) {
  .navbar__logo {
    width: 110px;
  }
}
.navbar__logo_img {
  width: 100%;
  height: 100%;
}
@media (max-width: 980px) {
  .navbar__logo_img {
    display: none;
  }
}
.navbar__logo_img.tablet {
  display: none;
}
@media (max-width: 980px) {
  .navbar__logo_img.tablet {
    display: block;
  }
}
@media (max-width: 580px) {
  .navbar__logo_img.tablet {
    display: none;
  }
}
.navbar__logo_img.mobile {
  display: none;
}
@media (max-width: 580px) {
  .navbar__logo_img.mobile {
    display: block;
  }
}
.navbar__rhand {
  display: flex;
  align-items: center;
}
@media (max-width: 980px) {
  .navbar__rhand {
    margin-left: auto;
  }
}
.navbar__title {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.01em;
}
@media (max-width: 580px) {
  .navbar__title {
    display: none;
  }
}
.navbar__menu {
  display: flex;
  gap: 28px;
  margin-right: 70px;
}
@media (max-width: 980px) {
  .navbar__menu {
    display: none;
  }
}
.navbar__menu_link {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.01em;
  transition: 0.2s;
  border-radius: 16px;
  display: block;
  padding: 0 8px;
}
.navbar__menu_link:hover {
  transition: 0.2s;
  color: #fff;
  background: rgba(35, 31, 32, 0.5019607843);
}
.navbar__account, .navbar__wishlist, .navbar__basket {
  display: block;
  margin-right: 6px;
  position: relative;
  width: 40px;
  height: 40px;
}
@media (max-width: 980px) {
  .navbar__account, .navbar__wishlist, .navbar__basket {
    margin-right: 10px;
  }
}
.navbar__account_q, .navbar__wishlist_q, .navbar__basket_q {
  display: none;
}
.navbar__account_icon, .navbar__wishlist_icon, .navbar__basket_icon {
  transition: 0.2s;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
}
.navbar__account_icon.hover, .navbar__wishlist_icon.hover, .navbar__basket_icon.hover {
  transition: 0.2s;
  opacity: 0;
}
.navbar__account:hover .navbar__account_icon, .navbar__account:hover .navbar__wishlist_icon, .navbar__account:hover .navbar__basket_icon, .navbar__wishlist:hover .navbar__account_icon, .navbar__wishlist:hover .navbar__wishlist_icon, .navbar__wishlist:hover .navbar__basket_icon, .navbar__basket:hover .navbar__account_icon, .navbar__basket:hover .navbar__wishlist_icon, .navbar__basket:hover .navbar__basket_icon {
  transition: 0.2s;
  opacity: 0;
}
.navbar__account:hover .navbar__account_icon.hover, .navbar__account:hover .navbar__wishlist_icon.hover, .navbar__account:hover .navbar__basket_icon.hover, .navbar__wishlist:hover .navbar__account_icon.hover, .navbar__wishlist:hover .navbar__wishlist_icon.hover, .navbar__wishlist:hover .navbar__basket_icon.hover, .navbar__basket:hover .navbar__account_icon.hover, .navbar__basket:hover .navbar__wishlist_icon.hover, .navbar__basket:hover .navbar__basket_icon.hover {
  opacity: 1;
  transition: 0.2s;
}
@media (max-width: 980px) {
  .navbar__account {
    display: none;
  }
}
.navbar__lang {
  position: relative;
  margin-left: 26px;
}
@media (max-width: 980px) {
  .navbar__lang {
    display: none;
  }
}
.navbar__lang_btn {
  padding: 16px;
  border-radius: 8px;
  background: #F3F3F3;
  display: flex;
  align-items: center;
  gap: 8px;
}
.navbar__lang_btn_txt {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.07em;
  text-align: center;
}
.navbar__lang_choose {
  position: absolute;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  top: 60px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}
.navbar__lang_choose_btn {
  background: #F3F3F3;
  padding: 16px;
  width: 100%;
  transition: 0.2s;
}
.navbar__lang_choose_btn:active {
  background: #F0C45E;
  transition: 0.2s;
}
.navbar__lang:hover .navbar__lang_choose {
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
}
.navbar__mobile {
  display: none;
}
.navbar__mobile_wrapper {
  display: none;
}
@media (max-width: 980px) {
  .navbar__mobile_wrapper {
    display: block;
  }
}
@media (max-width: 980px) {
  .navbar__mobile {
    display: flex;
  }
  .navbar__mobile_content {
    min-height: -moz-fit-content;
    min-height: fit-content;
    position: relative;
  }
  .navbar__mobile_closeBtn {
    position: absolute;
    top: 0px;
    right: 0px;
  }
}
@media (max-width: 980px) and (max-width: 580px) {
  .navbar__mobile_closeBtn {
    top: -25px;
    right: -25px;
  }
}
@media (max-width: 980px) {
  .navbar__mobile_wrapper {
    position: fixed;
    top: 0;
    left: 200vw;
    z-index: 1099;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.1450980392);
    -webkit-backdrop-filter: blur(54px);
            backdrop-filter: blur(54px);
    padding: 40px;
    overflow-y: auto;
    transition: 0.3s;
  }
  .navbar__mobile_wrapper.active {
    left: 0;
    transition: 0.3s;
  }
  .navbar__mobile_wrapper * {
    margin: 0 auto;
    text-align: center;
  }
  .navbar__mobile_acc {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.03em;
  }
  .navbar__mobile_logo {
    margin-bottom: 8px;
  }
  .navbar__mobile_title {
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.01em;
    margin-bottom: 60px;
  }
  .navbar__mobile_menu {
    margin-bottom: 60px;
    display: grid;
    gap: 30px;
  }
  .navbar__mobile_menu_link {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.03em;
  }
  .navbar__mobile_social_link.phone, .navbar__mobile_social_link.mail {
    display: block;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.03em;
  }
  .navbar__mobile_social_link.phone {
    font-weight: 700;
    margin-bottom: 14px;
  }
  .navbar__mobile_social_link.mail {
    margin-bottom: 24px;
  }
  .navbar__mobile_social_wrapper {
    display: flex;
    width: -moz-fit-content;
    width: fit-content;
    justify-content: center;
    gap: 25px;
  }
  .navbar__mobile_adress {
    margin: 65px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.03em;
  }
  .navbar__mobile_lang {
    display: flex;
    width: -moz-fit-content;
    width: fit-content;
    gap: 25px;
  }
  .navbar__mobile_lang_btn {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.03em;
  }
  .navbar__mobile_lang_btn.active {
    border-bottom: 1px solid #080807;
  }
}

.footer {
  width: 100%;
  background: #080807;
}
.footer * {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.footer__wrapper {
  width: 100%;
  max-width: 1790px;
  margin: 0 auto;
  padding: 80px;
}
@media (max-width: 580px) {
  .footer__wrapper {
    padding: 60px 20px;
  }
  .footer__wrapper * {
    text-align: center !important;
  }
}
.footer__title {
  font-size: 24px;
  line-height: 40px;
  letter-spacing: -0.05em;
  margin-bottom: 8px;
}
.footer__desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 980px) {
  .footer__desc {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}
.footer__desc_list {
  display: flex;
  gap: 22px;
}
@media (max-width: 980px) {
  .footer__desc_list {
    flex-wrap: wrap;
    gap: 15px 25px;
  }
}
@media (max-width: 580px) {
  .footer__desc_list {
    flex-direction: column;
    gap: 16px;
  }
}
.footer__desc_list_el {
  position: relative;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.footer__desc_list_el:not(:last-child)::before {
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  right: -11px;
  transform: translate(0, -50%);
}
@media (max-width: 580px) {
  .footer__desc_list_el:not(:last-child)::before {
    right: 50%;
    top: 135%;
  }
}
.footer__desc_social {
  display: flex;
  gap: 15px;
}
@media (max-width: 580px) {
  .footer__desc_social {
    justify-content: center;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
}
.footer__desc_social_el {
  width: 22px;
  position: relative;
}
.footer__desc_social_el_icon {
  width: 22px;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.2s;
  visibility: visible;
  opacity: 1;
}
.footer__desc_social_el_icon.hover {
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
}
.footer__desc_social_el:hover .footer__desc_social_el_icon {
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
}
.footer__desc_social_el:hover .footer__desc_social_el_icon.hover {
  visibility: visible;
  opacity: 1;
  transition: 0.2s;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding-bottom: 32px;
  border-bottom: 1px solid #828282;
}
@media (max-width: 980px) {
  .footer__content {
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
  }
}
.footer__menu {
  display: flex;
  gap: 56px;
  margin-bottom: 22px;
}
@media (max-width: 980px) {
  .footer__menu {
    gap: 30px;
  }
}
@media (max-width: 580px) {
  .footer__menu {
    flex-direction: column;
  }
}
.footer__menu_link {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.03em;
  transition: 0.2s;
}
.footer__menu_link:hover {
  color: #F0C45E;
  transition: 0.2s;
}
.footer__banking {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 580px) {
  .footer__banking {
    justify-content: center;
  }
}
.footer__banking_logo {
  width: 45px;
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 0.5;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
}
.footer__contacts_phone {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.01em;
  margin-bottom: 16px;
  transition: 0.2s;
}
.footer__contacts_phone:hover {
  color: #F0C45E;
  transition: 0.2s;
}
.footer__contacts_mail {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.03em;
  transition: 0.2s;
}
.footer__contacts_mail:hover {
  color: #F0C45E;
  transition: 0.2s;
}
.footer__subscribe {
  width: 100%;
  max-width: 290px;
}
@media (max-width: 580px) {
  .footer__subscribe {
    margin: 0 auto;
  }
}
.footer__subscribe_title {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.03em;
}
.footer__subscribe_subtitle {
  margin: 4px 0 8px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.03em;
}
.footer__subscribe_form {
  display: flex;
  gap: 2px;
  margin-bottom: 8px;
}
.footer__subscribe_form_inp {
  padding: 9px;
  width: 100%;
  max-width: 245px;
  background: #fff;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #080807;
}
.footer__subscribe_form_inp::-moz-placeholder {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #BDBDBD;
}
.footer__subscribe_form_inp::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #BDBDBD;
}
.footer__subscribe_form_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333333;
  border-radius: 4px;
  width: 42px;
  height: 42px;
}
.footer__subscribe_form_btn_icon {
  max-width: 100%;
}
.footer__subscribe_info {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.03em;
  color: #828282;
}
.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
  gap: 20px;
}
@media (max-width: 980px) {
  .footer__bottom {
    flex-wrap: wrap;
  }
}
@media (max-width: 580px) {
  .footer__bottom {
    flex-direction: column;
  }
}
.footer__bottom * {
  font-size: 15px;
  line-height: 16px;
  color: #BDBDBD;
}
.footer__bottom_menu {
  display: flex;
  gap: 22px;
}
@media (max-width: 580px) {
  .footer__bottom_menu {
    flex-direction: column;
  }
}
.footer__bottom_menu_link {
  transition: 0.2s;
}
.footer__bottom_menu_link:hover {
  color: #F0C45E;
  transition: 0.2s;
}
.footer__bottom_menu_el {
  position: relative;
}
.footer__bottom_menu_el:not(:last-child)::before {
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  right: -11px;
  transform: translate(0, -50%);
}
@media (max-width: 580px) {
  .footer__bottom_menu_el:not(:last-child)::before {
    right: 50%;
    top: 170%;
  }
}

.favorites {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6980392157);
  z-index: 1110;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}
.favorites.active {
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
}
.favorites.active .favorites__wrapper {
  right: 0;
  transition: 0.3s;
}
.favorites__wrapper {
  background: #fff;
  margin-left: auto;
  width: 100%;
  max-width: 768px;
  height: 100%;
  padding: 80px 20px;
  overflow-y: auto;
  position: relative;
  right: -100%;
  transition: 0.3s;
}
.favorites__wrapper::-webkit-scrollbar {
  display: none;
}
.favorites__closeBtn {
  position: absolute;
  top: 30px;
  right: 30px;
}
@media (max-width: 580px) {
  .favorites__closeBtn {
    top: 10px;
    right: 10px;
  }
}
.favorites__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
}
@media (max-width: 580px) {
  .favorites__content {
    grid-template-columns: 1fr;
  }
}
.favorites__title {
  padding-left: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 150px;
}
.favorites .product__pic {
  width: 270px;
}
.favorites .product__pic.promo {
  width: 304px;
  height: 400px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 980px) {
  .favorites .product__pic.promo {
    height: 360px;
  }
}
@media (max-width: 580px) {
  .favorites .product__pic.promo {
    height: auto;
  }
}
.favorites .product__pic img {
  width: 100%;
}
.favorites .product__pic_decor {
  width: 277px;
}
.favorites .product__pic_decor img {
  width: 100%;
}
.favorites .product__tooltip {
  width: 86px;
  height: 86px;
  left: 15px;
}
.favorites .product__tooltip_pr {
  font-size: 16px;
  line-height: 18px;
}
.favorites .product__animation {
  right: 5px;
}
@media (max-width: 980px) {
  .favorites .product__animation {
    right: 35px;
    top: -45px;
  }
}

.basket {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6980392157);
  z-index: 1110;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}
.basket.active {
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
}
.basket.active .basket__wrapper {
  right: 0;
  transition: 0.3s;
}
.basket__title {
  padding-left: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 50px;
}
@media (max-width: 580px) {
  .basket__title {
    text-align: center;
    padding: 0;
  }
}
.basket__wrapper {
  background: #fff;
  margin-left: auto;
  width: 100%;
  max-width: 560px;
  height: 100%;
  padding: 80px 20px;
  overflow-y: auto;
  position: relative;
  right: -100%;
  transition: 0.3s;
}
.basket__wrapper::-webkit-scrollbar {
  display: none;
}
.basket__closeBtn {
  position: absolute;
  top: 30px;
  right: 30px;
}
@media (max-width: 580px) {
  .basket__closeBtn {
    top: 10px;
    right: 10px;
  }
}
.basket__footer {
  display: flex;
  margin-top: 45px;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 580px) {
  .basket__footer {
    flex-direction: column;
    gap: 20px;
  }
}
.basket__footer_btn {
  display: block;
  width: 100%;
  max-width: 250px;
  border-radius: 30px;
  background: #E6BA54;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.01em;
  text-align: center;
  color: #fff;
  position: relative;
  margin-right: 5px;
}
@media (max-width: 580px) {
  .basket__footer_btn {
    max-width: 100%;
  }
}
.basket__footer_btn::before {
  content: "";
  display: block;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border-radius: 30px;
  border: 1px solid #080807;
  position: absolute;
  top: -4px;
  left: -5px;
  transition: 0.2s;
}
.basket__footer_btn:active::before {
  transition: 0.2s;
  top: 0;
  left: 0;
}
.basket__footer_btn:hover {
  background: #FACE68;
  transition: 0.2s;
}
.basket__footer_btn:active {
  transition: 0.2s;
  background: #DCB04A;
}
.basket__footer_pr {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.01em;
  text-align: center;
  color: #231F20;
}
.basket .order__products {
  border-radius: 16px;
  background: #F3F3F3;
  padding: 10px 0;
  width: 100%;
  max-width: 512px;
  position: relative;
}
@media (max-width: 980px) {
  .basket .order__products {
    max-width: 100%;
  }
}
.basket .order__products_el {
  padding: 20px 20px 20px 10px;
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1.5px solid #E7E7E7;
}
@media (max-width: 580px) {
  .basket .order__products_el {
    align-items: flex-start;
    padding: 15px;
    flex-direction: column;
  }
}
.basket .order__products_el_clearBtn {
  position: absolute;
  top: 20px;
  right: 20px;
}
.basket .order__products_el_pic {
  width: 160px;
  height: 160px;
}
@media (max-width: 580px) {
  .basket .order__products_el_pic {
    width: 50px;
    height: 50px;
  }
}
.basket .order__products_el_pic_img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.basket .order__products_el_desc_name {
  margin: 10px 0 6px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.basket .order__products_el_desc_volume {
  margin-bottom: 28px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
@media (max-width: 580px) {
  .basket .order__products_el_desc_volume {
    margin-bottom: 4px;
  }
}
.basket .order__products_el_desc_quant {
  margin-bottom: 10px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.02em;
}
.basket .order__products_el_quant {
  display: flex;
  align-items: center;
  gap: 10px;
}
.basket .order__products_el_quant_num {
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.48px;
  text-align: center;
}
.basket .order__products_el_price {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.basket .order__products_el_price_regular {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 12.64px;
  line-height: 15.3px;
  color: #828282;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-bottom: 8px;
}
.basket .order__products_el_price_regular::before {
  content: "";
  display: block;
  width: 90%;
  height: 1px;
  position: absolute;
  top: 40%;
  transform: translate(0, -50%) rotateZ(8deg);
  background: #828282;
}
.basket .order__products_el_price_regular b {
  font-size: 20px;
  color: #828282;
  line-height: 24px;
}
@media (max-width: 580px) {
  .basket .order__products_el_price_regular b {
    font-size: 16px;
    line-height: 19px;
  }
}
.basket .order__products_el_price_real {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.4px;
}
.basket .order__products_el_price_real b {
  font-family: "Inter", sans-serif;
  font-size: 26px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.4px;
}
@media (max-width: 580px) {
  .basket .order__products_el_price_real b {
    font-size: 18px;
    line-height: 18px;
  }
}
.basket .order__products_footer {
  padding: 20px;
}
.basket .order__products_footer_delivery, .basket .order__products_footer_total {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.basket .order__products_footer_delivery *, .basket .order__products_footer_total * {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
}
.basket .order__products_footer_delivery {
  margin-bottom: 4px;
}
.basket .order__products_footer_delivery_key, .basket .order__products_footer_delivery_value {
  font-weight: 400;
}
.basket .order__products_footer_total_key {
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
}
.basket .order__products_footer_total_value {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.36px;
}
.basket .order__products_footer_total_value_summ {
  font-size: 30px;
  font-weight: 700;
  line-height: 36.31px;
}

.productOffers {
  width: 100%;
  padding: 120px 0;
}
@media (max-width: 1580px) {
  .productOffers {
    padding: 55px 0 70px;
  }
}
@media (max-width: 980px) {
  .productOffers {
    padding: 100px 0 50px;
  }
}
.productOffers__wrapper,
.productOffers .wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 180px;
  padding: 70px 15px;
  width: 100%;
  max-width: 1740px;
  margin: 0 auto;
}
@media (max-width: 1580px) {
  .productOffers__wrapper,
  .productOffers .wrapper {
    padding: 70px 80px;
    grid-gap: 20px;
  }
}
@media (max-width: 980px) {
  .productOffers__wrapper,
  .productOffers .wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-gap: 45px;
    padding: 100px 40px 70px;
  }
}
@media (max-width: 580px) {
  .productOffers__wrapper,
  .productOffers .wrapper {
    gap: 70px;
    padding: 100px 20px 70px;
  }
}
.productOffers__title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.01em;
}
.productOffers__link {
  display: block;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  width: 100%;
  max-width: 210px;
  background: #080807;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.01em;
  position: relative;
  border-radius: 28px;
}
.productOffers__link::before {
  content: "";
  display: block;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border-radius: 28px;
  border: 1px solid #000;
  position: absolute;
  top: -4px;
  left: -5px;
  transition: 0.2s;
}
.productOffers__link:active::before {
  transition: 0.2s;
  top: 0;
  left: 0;
}
.productOffers__link:hover {
  background: #fff;
  color: #080807;
  transition: 0.2s;
}
.productOffers__link:active {
  transition: 0.2s;
  background: #080808;
  color: #fff;
}

/* .product {
    position: relative;

    &:hover &__pic {
        transition: .3s;
        transform: rotateZ(-9deg);
    }

    &__pic {
        position: relative;
        z-index: 1080;
        margin: 0 auto;
        transition: .3s;

        @media (max-width: 1020px) {
            width: 270px;
        }

        @media (max-width: 520px) {
            width: 255px;
        }
    }

    &__img {
        position: relative;
        margin: 0 auto;
        z-index: 1080;

        @media (max-width: 1020px) {
            width: 100%;
        }
    }

    &__bg,
    &__animation {
        position: absolute;
    }

    &__animation {
        top: -14%;
        right: 60px;
        z-index: 1060;

        @media (max-width: 1020px) {
            top: -13%;
            right: 15px;
            width: 130px;
        }

        @media (max-width: 520px) {
            top: -15%;
            right: 15px;
        }

        &_img {

            @media (max-width: 1020px) {
                width: 100%;
            } 
        }
    }

    &__bg {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        @media (max-width: 1020px) {
            top: 40%;
            width: 270px;
        }
    }

    &__name {
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: -0.05em;
        text-align: center;
    }

    &__tooltip {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 110px;
        height: 110px;
        position: absolute;
        left: 0;
        top: 100px;
        z-index: 1076;

        @media (max-width: 1020px) {
            width: 86px;
            height: 86px;
            top: 60px;
            left: 15px;
        }

        &.green {
            background: #9CC046;
        }

        &.purple {
            background: #5E3C98;
        }

        &.orange {
            background: #F37350;
        }

        &_pr {
            text-align: center;
            font-family: "Gochi Hand";
            font-size: 20px;
            font-weight: 400;
            line-height: 23.57px;
            letter-spacing: -0.01em;
            text-align: center;
            color: #fff;

            @media (max-width: 1020px) {
                font-size: 16px;
                line-height: 18px;
            }
        }
    }

    &__price {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-bottom: 10px;

        &_regular,
        &_new {
            font-family: "Inter", sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 19.36px;
            letter-spacing: 0.4px;
            text-align: center;
        }

        &_regular {
            color: #828282;
        }

        &_new {
            font-weight: 700;
        }
    }

    &__btns {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;

        &_addWishlist {
            position: relative;
            width: 40px;
            height: 40px;
            min-width: 40px;
            min-height: 40px;

            &_icon {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 1;
                transition: .3s;

                &.hover {
                    opacity: 0;
                }
            }

            &.active &_icon {
                opacity: 0;
                transition: .3s;

                &.hover {
                    opacity: 1;
                }
            }
        }

        &_buy {
            display: block;
            border-radius: 28px;
            width: 100%;
            max-width: 132px;
            text-align: center;
            position: relative;
            color: #fff;
            font-size: 20px;
            font-weight: 700;
            line-height: 40px;
            letter-spacing: -0.01em;
            padding: 2px 20px;
            background: #F0C45E;

            @media (max-width: 520px) {
                max-width: 170px;
            }

            &::before {
                content: '';
                display: block;
                width: calc(100% - 2px);
                height: calc(100% - 2px);
                border-radius: 28px;
                border: 1px solid #000;
                position: absolute;
                top: -4px;
                left: -5px;
                transition: .2s;
            }

            &:active::before {
                transition: .2s;
                top: 0;
                left: 0;
            }

            &:hover {
                background: #FACE68;
                transition: .2s;
            }

            &:active {
                transition: .2s;
                background: #DCB04A;
            }
        }
    }
} */
.product {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
}
@media (max-width: 980px) {
  .product {
    max-width: 320px;
  }
}
.product:hover .product__images {
  transform: rotateZ(-8deg);
  transition: 0.3s;
}
.product__images {
  position: relative;
  z-index: 1;
  transition: 0.3s;
}
.product__wrapper {
  display: block;
  position: relative;
}
.product__pic {
  width: 100%;
  max-width: 335px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 980px) {
  .product__pic {
    max-width: 255px;
  }
}
.product__pic.promo {
  width: 430px;
}
.product__pic_decor {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product__animation {
  position: absolute;
  top: -60px;
  right: 50px;
  z-index: -1;
  width: 172px;
  height: 172px;
}
@media (max-width: 980px) {
  .product__animation {
    width: 130px;
    height: 130px;
    top: -45px;
    right: 35px;
  }
}
.product__animation_img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.product__tooltip {
  position: absolute;
  top: 60px;
  left: 30px;
  width: 110px;
  height: 110px;
  padding: 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 980px) {
  .product__tooltip {
    width: 86px;
    height: 86px;
    top: 50px;
    left: 10px;
  }
}
.product__tooltip_pr {
  text-align: center;
  font-family: "Gochi Hand";
  font-size: 20px;
  font-weight: 400;
  line-height: 23.5px;
  letter-spacing: -0.01em;
  color: #fff;
}
@media (max-width: 980px) {
  .product__tooltip_pr {
    font-size: 16px;
    line-height: 18px;
  }
}
.product__name {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 15px;
  letter-spacing: -0.05em;
}
.product__price {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}
.product__price * {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 19.36px;
  letter-spacing: 0.4px;
  text-align: center;
}
.product__price_regular {
  color: #828282;
  font-weight: 400;
  position: relative;
}
.product__price_regular::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #828282;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  transform: rotateZ(8deg);
}
.product__price_sale {
  font-weight: 700;
  color: #080807;
}
.product__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.product__footer_addWishlist {
  width: 40px;
  height: 40px;
  position: relative;
}
.product__footer_addWishlist_icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: 0.2s;
  visibility: visible;
  opacity: 1;
  transition: 0.2s;
}
.product__footer_addWishlist_icon.hover {
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
}
.product__footer_addWishlist.active .product__footer_addWishlist_icon {
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
}
.product__footer_addWishlist.active .product__footer_addWishlist_icon.hover {
  visibility: visible;
  opacity: 1;
  transition: 0.2s;
}

.header {
  position: relative;
  height: 680px;
  margin-top: 120px;
}
@media (max-width: 1580px) {
  .header {
    height: 540px;
  }
}
@media (max-width: 580px) {
  .header {
    height: 400px;
    margin-top: 60px;
  }
}
.header__wrapper {
  height: 100%;
}
.header__video {
  width: 100%;
  height: 100%;
}
.header__video_item {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__video_play {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -40%);
}
@media (max-width: 580px) {
  .header__video_play_icon {
    width: 120px;
  }
}

.about {
  width: 100%;
  background: #ECECEC;
}
.about__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
}
@media (max-width: 1580px) {
  .about__wrapper {
    min-height: 710px;
  }
}
@media (max-width: 980px) {
  .about__wrapper {
    grid-template-columns: 1fr;
  }
}
.about__pic {
  overflow: hidden;
  margin-left: auto;
  max-width: 960px;
  height: 735px;
}
@media (max-width: 1580px) {
  .about__pic {
    max-width: 100%;
  }
}
@media (max-width: 980px) {
  .about__pic {
    max-width: 100%;
  }
}
@media (max-width: 580px) {
  .about__pic {
    height: 400px;
  }
}
.about__pic_el {
  overflow: hidden;
  height: 100%;
}
.about__pic_btns {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 1080;
  padding: 0 45px;
}
@media (max-width: 580px) {
  .about__pic_btns {
    padding: 0 10px;
  }
}
.about__pic_btns_btn {
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5607843137);
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}
.about__pic_btns_btn:hover {
  transition: 0.2s;
  background: #DCB04A;
}
.about__pic_img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about__pic_img.desktop {
  display: block;
}
@media (max-width: 1580px) {
  .about__pic_img.desktop {
    display: none;
  }
}
.about__pic_img.tablet {
  display: none;
}
@media (max-width: 1580px) {
  .about__pic_img.tablet {
    display: block;
  }
}
.about__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 20px 20px 140px;
  position: relative;
  z-index: 1080;
}
@media (max-width: 1580px) {
  .about__content {
    padding: 110px 150px 60px 140px;
  }
}
@media (max-width: 580px) {
  .about__content {
    padding: 80px 20px;
  }
}
.about__content::before {
  content: "";
  display: block;
  width: 440px;
  height: 440px;
  position: absolute;
  top: 45px;
  left: 45px;
  background: url("../../images/aboutBgDecor.png") no-repeat;
  z-index: 1070;
}
.about__content_decor {
  position: absolute;
  top: 25px;
  right: 70px;
  z-index: 1072;
}
@media (max-width: 580px) {
  .about__content_decor {
    top: 15px;
    right: 70px;
  }
}
.about__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 32px;
  max-width: 500px;
  position: relative;
  z-index: 1080;
}
@media (max-width: 580px) {
  .about__title {
    font-size: 32px;
    line-height: 40px;
  }
}
.about__pr {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.02em;
  max-width: 510px;
  font-weight: 400;
  position: relative;
  z-index: 1080;
}
.about__pr:not(:last-child) {
  margin-bottom: 60px;
}
@media (max-width: 1580px) {
  .about__pr:not(:last-child) {
    margin-bottom: 32px;
  }
}

.advantages {
  width: 100%;
  padding: 160px 0 120px;
}
.advantages__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 260px 0 340px;
}
@media (max-width: 1580px) {
  .advantages__wrapper {
    padding: 0 60px 0 140px;
  }
}
@media (max-width: 980px) {
  .advantages__wrapper {
    padding: 0 20px;
    gap: 100px;
    flex-direction: column;
  }
}
.advantages__item {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 980px) {
  .advantages__item {
    height: 360px;
    margin: 0 auto;
  }
}
.advantages__item_decor {
  position: absolute;
  top: 75px;
  left: 0;
  z-index: 1070;
  width: 280px;
  height: 260px;
}
.advantages__item_subDecor {
  position: absolute;
  z-index: 1075;
  width: 430px;
  height: 430px;
  bottom: 50px;
  right: 55px;
}
@media (max-width: 580px) {
  .advantages__item_subDecor {
    bottom: 25px;
    right: 0;
  }
}
.advantages__item_title {
  margin-top: 170px;
  font-size: 40px;
  font-weight: 700;
  line-height: 48.76px;
  margin-bottom: 20px;
  max-width: 280px;
  margin-left: 55px;
  position: relative;
  z-index: 1080;
}
@media (max-width: 1580px) {
  .advantages__item_title {
    max-width: 350px;
  }
}
@media (max-width: 580px) {
  .advantages__item_title {
    margin-left: 30px;
  }
}
.advantages__item_pr {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.02em;
  max-width: 280px;
  margin-left: 55px;
  position: relative;
  z-index: 1080;
}
@media (max-width: 580px) {
  .advantages__item_pr {
    margin-left: 30px;
  }
}

.standarts {
  padding: 90px 0 135px;
}
@media (max-width: 980px) {
  .standarts {
    padding: 120px 0;
  }
}
@media (max-width: 580px) {
  .standarts {
    padding: 120px 0 90px;
  }
}
.standarts__wrapper {
  display: flex;
  width: 100%;
  max-width: 1630px;
  margin: 0 auto;
  padding: 0 15px;
  gap: 260px;
  position: relative;
}
@media (max-width: 1580px) {
  .standarts__wrapper {
    padding: 0 250px 0 120px;
    gap: 135px;
  }
}
@media (max-width: 980px) {
  .standarts__wrapper {
    padding: 0 60px;
  }
}
@media (max-width: 580px) {
  .standarts__wrapper {
    padding: 0 20px;
  }
}
.standarts__decor {
  position: absolute;
  bottom: 0;
  right: 160px;
}
@media (max-width: 1580px) {
  .standarts__decor {
    right: 130px;
  }
}
@media (max-width: 980px) {
  .standarts__decor {
    top: -100px;
    right: 0;
  }
}
@media (max-width: 580px) {
  .standarts__decor {
    top: -150px;
  }
}
@media (max-width: 980px) {
  .standarts__pic {
    display: none;
  }
}
.standarts__desc {
  margin-top: 45px;
  max-width: 670px;
}
@media (max-width: 980px) {
  .standarts__desc {
    margin-top: 0;
    max-width: 100%;
  }
}
.standarts__desc_title {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
}
.standarts__desc_pr {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.2px;
  letter-spacing: -0.02em;
}

.driving {
  width: 100%;
}
.driving__wrapper {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 980px) {
  .driving__wrapper {
    grid-template-columns: 1fr;
    gap: 115px;
  }
}
@media (max-width: 580px) {
  .driving__wrapper {
    gap: 60px;
  }
}
.driving__pic {
  width: 100%;
}
@media (max-width: 580px) {
  .driving__pic {
    width: 100%;
    height: 360px;
  }
}
.driving__pic_img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.driving__desc {
  padding: 0px 20px 20px 120px;
  width: 100%;
}
@media (max-width: 980px) {
  .driving__desc {
    padding: 0 130px;
  }
}
@media (max-width: 580px) {
  .driving__desc {
    padding: 0 20px 0 40px;
  }
}
.driving__desc_el {
  max-width: 510px;
  position: relative;
}
.driving__desc_el:not(:last-child) {
  margin-bottom: 135px;
}
.driving__desc_el:not(:last-child) .driving__desc_el_title {
  margin-bottom: 40px !important;
}
.driving__desc_el_title {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 20px;
  color: #231F20;
}
.driving__desc_el_pr {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.02em;
}
.driving__desc_el_decor, .driving__desc_el_logo {
  position: absolute;
}
.driving__desc_el_decor {
  top: -100px;
}
.driving__desc_el_logo {
  top: -50px;
}

.contact {
  background: #ECECEC;
  margin-top: 120px;
  position: relative;
}
@media (max-width: 980px) {
  .contact {
    margin-top: 140px;
  }
}
@media (max-width: 580px) {
  .contact {
    margin-top: 160px;
  }
}
.contact__bg {
  position: absolute;
  top: 115px;
  left: 210px;
  z-index: 0;
}
.contact__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  align-items: center;
}
@media (max-width: 980px) {
  .contact__wrapper {
    grid-template-columns: 1fr;
  }
}
.contact__wrapper *:not(.contact__bg) {
  position: relative;
  z-index: 1010;
}
.contact__address {
  margin-left: auto;
  padding-right: 220px;
}
@media (max-width: 980px) {
  .contact__address {
    padding: 130px 140px 200px;
    margin: 0;
  }
}
@media (max-width: 580px) {
  .contact__address {
    padding: 70px 20px 110px;
  }
}
.contact__address_btns {
  display: flex;
  gap: 8px;
}
@media (max-width: 580px) {
  .contact__address_btns {
    flex-wrap: wrap;
  }
}
.contact__address_btns_btn {
  border-radius: 28px;
  border: 1px solid #231F20;
  color: #231F20;
  padding: 5px 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22.4px;
  letter-spacing: 0.16px;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
}
.contact__address_btns_btn.active {
  background: #231F20;
  color: #fff;
}
.contact__address_title {
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -0.02em;
  margin: 65px 0 20px;
}
@media (max-width: 580px) {
  .contact__address_title {
    margin: 20px 0;
    font-size: 32px;
  }
}
.contact__address_strong {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.2px;
  letter-spacing: -0.02em;
  margin-bottom: 10px;
}
.contact__address_pr, .contact__address_mail, .contact__address_info {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.02em;
}
.contact__address_mail {
  margin-top: 10px;
}
.contact__address_link {
  display: block;
  position: relative;
  border-radius: 28px;
  text-align: center;
  width: 100%;
  max-width: 234px;
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.01em;
  background: #F0C45E;
  color: #fff;
  margin-top: 20px;
}
.contact__address_link::before {
  content: "";
  display: block;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border-radius: 30px;
  border: 1px solid #000;
  position: absolute;
  top: -2px;
  left: -2px;
}
.contact__address_link:active::before {
  transition: 0.2s;
  top: 0;
  left: 0;
}
.contact__address_link:hover {
  background: #FACE68;
  transition: 0.2s;
}
.contact__address_link:active {
  transition: 0.2s;
  background: #DCB04A;
}
.contact__address_wrapper {
  display: none;
}
.contact__address_wrapper.active {
  display: block;
}
@media (max-width: 980px) {
  .contact__map {
    height: 670px;
  }
}
@media (max-width: 580px) {
  .contact__map {
    height: 310px;
  }
}
@media (max-width: 980px) {
  .contact__map_img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.contact__map_item {
  display: none;
  height: 670px;
}
.contact__map_item iframe {
  width: 100%;
  height: 100%;
}
.contact__map_item.active {
  display: block;
}

.getItTouch {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1110;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6980392157);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}
.getItTouch.active {
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
}
.getItTouch__wrapper {
  border-radius: 16px;
  background: #FFFFFF;
  padding: 40px;
  width: 100%;
  max-width: 560px;
  position: relative;
}
.getItTouch__title {
  font-family: "Inter", sans-serif;
  color: #231F20;
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -0.02em;
  text-align: left;
  margin-bottom: 30px;
}
.getItTouch__closeBtn {
  position: absolute;
  top: 40px;
  right: 40px;
}
@media (max-width: 580px) {
  .getItTouch__closeBtn {
    top: 20px;
    right: 20px;
  }
}
.getItTouch__btn {
  display: block;
  position: relative;
  border-radius: 28px;
  text-align: center;
  width: 100%;
  max-width: 210px;
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.01em;
  background: #080807;
  color: #fff;
  margin-top: 30px;
  transition: 0.2s;
}
.getItTouch__btn::before {
  content: "";
  display: block;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border-radius: 30px;
  border: 1px solid #000;
  position: absolute;
  top: -3px;
  left: -3px;
}
.getItTouch__btn:active::before {
  transition: 0.2s;
  top: 0;
  left: 0;
}
.getItTouch__btn:hover {
  background: #fff;
  color: #080807;
  transition: 0.2s;
}
.getItTouch__btn:active {
  background: #080807;
  color: #fff;
  transition: 0.2s;
}
.getItTouch__lab {
  margin-bottom: 20px;
  position: relative;
  display: block;
}
.getItTouch__lab.invalid .getItTouch__lab_tooltip {
  display: block;
}
.getItTouch__lab.invalid .getItTouch__lab_inp {
  border-bottom: 1px solid #DF4235;
}
.getItTouch__lab_tooltip {
  display: none;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #EB5757;
  padding: 4px 0 0 8px;
}
.getItTouch__lab_inp {
  display: block;
  width: 100%;
  padding: 8px 9px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #080807;
  border-bottom: 1px solid #BDBDBD;
  height: 42px;
}
.getItTouch__lab_inp[type=phone] {
  padding-left: 105px;
}
.getItTouch__lab_inp::-moz-placeholder {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #BDBDBD;
}
.getItTouch__lab_inp::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #BDBDBD;
}
.getItTouch__lab_clearBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0;
  transition: 0.3s;
  visibility: hidden;
}
.getItTouch__lab_clearBtn.active {
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
}
.getItTouch__lab_code {
  position: absolute;
  top: 0;
  left: 0;
}
.getItTouch__lab_code_btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 10px;
}
.getItTouch__lab_code_btn_flag {
  width: 20px;
  height: 20px;
}
.getItTouch__lab_code_btn_inp {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  max-width: 40px;
}
.getItTouch__lab_code_btn_arr {
  transition: 0.3s;
}
.getItTouch__lab_code_btn.active .getItTouch__lab_code_btn_arr {
  transition: 0.3s;
  transform: rotateZ(180deg);
}
.getItTouch__lab_code_wrapper {
  position: absolute;
  background: #fff;
  width: 100%;
  z-index: 1080;
  overflow: hidden;
  max-height: 0px;
  transition: 0.3s;
}
.getItTouch__lab_code_dropdown {
  overflow-y: scroll;
  max-height: 190px;
}
.getItTouch__lab_code_dropdown::-webkit-scrollbar {
  width: 2px;
  border-radius: 2px;
  background: #BDBDBD;
}
.getItTouch__lab_code_dropdown::-webkit-scrollbar-thumb {
  width: 2px;
  border-radius: 2px;
  background: #080807;
}
.getItTouch__lab_code_dropdown_btn {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 4px 10px;
  width: 100%;
}
.getItTouch__lab_code_dropdown_btn_flag {
  width: 20px;
  height: 20px;
}
.getItTouch__lab_code_dropdown_btn_txt {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.getItTouch__lab_name {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  display: block;
  padding: 0 0 4px 8px;
  color: #828282;
}/*# sourceMappingURL=about.css.map */